
<style type="text/css">
    #OrderFrom {
        margin: 10px 0px;
    }

        #OrderFrom table {
            width: 100%;
        }

            #OrderFrom table tr {
                height: 40px;
            }

                #OrderFrom table tr td {
                    width: 25%;
                }

                    #OrderFrom table tr td label {
                        width: 80px;
                        text-align: right;
                    }

                    #OrderFrom table tr td .easyui-textbox {
                        width: 200px;
                    }

                    #OrderFrom table tr td .easyui-numberspinner {
                         width: 200px;
                    }

                    #OrderFrom table tr td .easyui-combobox {
                        width: 200px;
                    }

    #scene .easyui-linkbutton {
        margin-left: -5px;
    }

    #scene .l-btn-text {
        line-height: 20px;
    }

    #scene .time_input {
        width: 180px !important;
    }

    .panel-title {
        color: #3071a9;
    }
</style>

<form id="OrderFrom" method="post">
    <div id="" style="margin-bottom:20px" class="easyui-panel" title="订单主信息"
         data-options="collapsible:true">
        <input type="hidden" name="ID" />
        <table>
            <tr>
                <td>
                    <label for="name"> 平台编号:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="CODE">业务编号:</label>
                    <input class="easyui-textbox" type="text" name="CODE" disabled="disabled" />
                </td>
                <td>
                    <label for="name">关务编号:</label>
                    <input class="easyui-textbox" type="text" name="" disabled="disabled" />
                </td>
                <td>
                    <label for="">收货人:</label>
                    <input class="easyui-textbox" type="text" name="" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="GOODSNUM"> 总件数:</label>
                    <input class="easyui-textbox" type="text" name="GOODSNUM" disabled="disabled" />
                </td>
                <td>
                    <label for="GOODSWEIGHT">总重量:</label>
                    <input class="easyui-textbox" type="text" name="GOODSWEIGHT" disabled="disabled" />
                </td>
                <td>
                    <label for="TOTALNO">总单号:</label>
                    <input class="easyui-textbox" type="text" name="TOTALNO" disabled="disabled" />
                </td>
                <td>
                    <label for="DIVIDENO">分单号:</label>
                    <input class="easyui-textbox" type="text" name="DIVIDENO" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CONTRACTNO"> 合同/发票号:</label>
                    <input class="easyui-textbox" type="text" name="CONTRACTNO" disabled="disabled" />
                </td>
                <td>
                    <label for="TURNPRENO">转关预录号:</label>
                    <input class="easyui-textbox" type="text" name="TURNPRENO" disabled="disabled" />
                </td>
                <td>
                    <label for="">转关号:</label>
                    <input class="easyui-textbox" type="text" name="" disabled="disabled" />
                </td>
                <td>
                    <label for="">接单备注:</label>
                    <input class="easyui-textbox" type="text" name="" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for=""> 报检接单日期:</label>
                    <input class="easyui-textbox" type="text" name="" disabled="disabled" />
                </td>
                <td>
                    <div style="text-align:center">
                        快件:
                        <input class="" type="radio" name="" disabled="disabled" />
                        普货:
                        <input class="" type="radio" name="" disabled="disabled" />

                        <input style="margin-left:30px;" type="checkbox" name="" disabled="disabled" /> 通关单否
                    </div>
                </td>
                <td>
                    <label for="CLEARANCENO">通关单号:</label>
                    <input class="easyui-textbox" type="text" name="CLEARANCENO" disabled="disabled" />
                </td>
                <td>
                    <label for="ZUOYEDANTIME">作业单时间:</label>
                    <input class="easyui-textbox" type="text" name="ZUOYEDANTIME" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for=""> 制单备注:</label>
                    <input class="easyui-textbox" type="text" name="" disabled="disabled" />
                </td>
                <td>
                    <label for="GUOJITIME">过机时间:</label>
                    <input class="easyui-textbox" type="text" name="GUOJITIME" disabled="disabled" />
                </td>
                <td>
                    <label for="GUOJIUSERNAME">过机人:</label>
                    <input class="easyui-textbox" type="text" name="GUOJIUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="REPUNITCODE">报关行:</label>
                    <input class="easyui-textbox" type="text" name="REPUNITCODE" />
                </td>
            </tr>

        </table>
    </div>

    <div class="easyui-panel" style="margin-bottom:15px" title="现场关务"
         data-options="collapsible:true">
        <table id="scene">
            <tr>
                <td>
                    <label for="LIDANTIME"> 理单时间:</label>
                    <input class="easyui-textbox  time_input" id="LIDANTIME" data-options="text:'填充时间'" type="text" name="LIDANTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="LIDAN" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="LIDANUSERNAME">理单人:</label>
                    <input class="easyui-textbox " type="text" id="LIDANUSERNAME" name="LIDANUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="LIHUOZILIAOTIME"> 理货资料时间:</label>
                    <input class="easyui-textbox time_input" type="text" id="LIHUOZILIAOTIME" name="LIHUOZILIAOTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="LIHUOZILIAO" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="LIHUOZILIAOUSERNAME">理货资料人:</label>
                    <input class="easyui-textbox " type="text" id="LIHUOZILIAOUSERNAME" name="LIHUOZILIAOUSERNAME" disabled="disabled" />
                </td>
            </tr>

            <tr>
                <td>
                    <label for="BAOGUANTIME"> 报关时间:</label>
                    <input class="easyui-textbox time_input" type="text" id="BAOGUANTIME" name="BAOGUANTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="BAOGUAN" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="BAOGUANUSERNAME">报关人:</label>
                    <input class="easyui-textbox " type="text" id="BAOGUANUSERNAME" name="BAOGUANUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="DANZHENGFANGXINGTIME"> 单证放行时间:</label>
                    <input class="easyui-textbox time_input" type="text" id="DANZHENGFANGXINGTIME" name="DANZHENGFANGXINGTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="DANZHENGFANGXING" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="DANZHENGFANGXINGUSERNAME">单证放行人:</label>
                    <input class="easyui-textbox " type="text" id="DANZHENGFANGXINGUSERNAME" name="DANZHENGFANGXINGUSERNAME" disabled="disabled" />
                </td>
            </tr>


            <tr>
                <td>
                    <label for="CHAYANSTARTTIME"> 查验起始时间:</label>
                    <input class="easyui-textbox time_input" type="text" id="CHAYANSTARTTIME" name="CHAYANSTARTTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="CHAYANSTART" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="CHAYANSTARTUSERNAME">起始查验人:</label>
                    <input class="easyui-textbox " type="text" id="CHAYANSTARTUSERNAME" name="CHAYANSTARTUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="CHAYANENDTIME"> 查验完成时间:</label>
                    <input class="easyui-textbox time_input" type="text" id="CHAYANENDTIME" name="CHAYANENDTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="CHAYANEND" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="CHAYANENDUSERNAME">完成查验人:</label>
                    <input class="easyui-textbox " type="text" id="CHAYANENDUSERNAME" name="CHAYANENDUSERNAME" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="LIHUOSTARTTIME">理货起始时间:</label>
                    <input class="easyui-textbox time_input" type="text" id="LIHUOSTARTTIME" name="LIHUOSTARTTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="LIHUOSTART" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="LIHUOSTARTUSERNAME">理货起始人:</label>
                    <input class="easyui-textbox " type="text" id="LIHUOSTARTUSERNAME" name="LIHUOSTARTUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="LIHUOENDTIME">理货完成时间:</label>
                    <input class="easyui-textbox time_input" type="text" id="LIHUOENDTIME" name="LIHUOENDTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="LIHUOEND" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="LIHUOENDUSERNAME">理货完成人:</label>
                    <input class="easyui-textbox " type="text" id="LIHUOENDUSERNAME" name="LIHUOENDUSERNAME" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="SHIWUFANGXINGTIME">实物放行时间:</label>
                    <input class="easyui-textbox time_input" type="text" id="SHIWUFANGXINGTIME" name="SHIWUFANGXINGTIME" disabled="disabled" />
                    <a href="javascript:void(0)" datatype="SHIWUFANGXING" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>
                </td>
                <td>
                    <label for="SHIWUFANGXINGUSERNAME">实物放行人:</label>
                    <input class="easyui-textbox " type="text" id="SHIWUFANGXINGUSERNAME" name="SHIWUFANGXINGUSERNAME" disabled="disabled" />
                </td>

                <td>
                    <label for="CUSTOMDISTRICTCODE">申报关区:</label>
                    <input class="easyui-combobox" name="CUSTOMDISTRICTCODE" data-options="
					url: '/Order/Get_SBGQ',
					method: 'get',
					valueField: 'CODE',
					textField: 'NAME',
					panelWidth: 200,
					panelHeight: 'auto',
					formatter: formatItem,
					label: 'CUSTOMDISTRICTCODE:',
                    panelHeight:'200',
					labelPosition: 'top'
					">
                </td>
                <td>
                    <label for="DECLSTATUS">报关状态:</label>
                    <input class="easyui-textbox" type="text" name="DECLSTATUS" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div style="float:left;height:22px;line-height:22px;">
                        <label>放行方式:</label>
                    </div>
                    <div style="float:left">
                        <label for="zhengchang">正常放行:</label>
                        <input class="" id="zhengchang" type="checkbox" value="1" name="PASSMODE" />
                        <label for="lihuo">理货放行:</label>
                        <input class="" id="lihuo" type="checkbox" value="2" name="PASSMODE" />
                        <label for="jiancha">查检放行:</label>
                        <input class="" id="jiancha" type="checkbox" value="3" name="PASSMODE" />
                        <label for="fenpi">分批放行:</label>
                        <input class="" id="fenpi" type="checkbox" value="4" name="PASSMODE" />
                        <label for="shenqing">申请放行:</label>
                        <input class="" id="shenqing" type="checkbox" value="5" name="PASSMODE" />

                    </div>

                </td>

            </tr>
            <tr>
                <td style="text-align:left">
                    <label for="shifjiancha">是否查检:</label>
                    <input class="" id="shifjiancha" type="checkbox" name="IFCHAYAN" value="1" />
                </td>
                <td>
                    <label for="">查验次数:</label>
                    <input class="easyui-numberspinner" name="CHAYANTIMES"
                           data-options="min:0">
                </td>
                <td>
                    <label for="">查验备注:</label>
                    <input class="easyui-textbox" type="text" name="CHAYANREMARK" />
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <label for="lihuobiaoshi">理货标识:</label>
                    <input class="" id="lihuobiaoshi" type="checkbox" name="LIHUOSIGN" value="1" />
                </td>
                <td>
                    <label for="email">理货次数:</label>
                    <input class="easyui-numberspinner" name="LIHUOTIMES"
                           data-options="min:0">
                </td>
                <td style="text-align:left">
                    <label for="kouhuobiaoshi">扣货标识:</label>
                    <input class="" id="kouhuobiaoshi" type="checkbox" name="KOUHUOSIGN" value="1" />
                </td>
                <td>
                    <label for="name">扣货时间:</label>
                    <input class="easyui-textbox" type="text" name="KOUHUOTIME" disabled="disabled" />
                </td>
            </tr>

            <tr>
                <td style="text-align:left">

                    <label for="shifdiaodang">是否调档:</label>
                    <input class="" id="shifdiaodang" type="checkbox" name="IFTIAODANG" value="1" />
                </td>
                <td>
                    <label for="name">调档次数:</label>
                    <input class="easyui-numberspinner" name="TIAODANGTIMES"
                           data-options="min:0">

                </td>
            </tr>
        </table>
    </div>

    <div style="text-align:center;padding:5px 0">
        <a class="btn btn-primary" href="javascript:void(0)" onclick="submitForm()">
            <i class="icon-ok"></i> 保存
        </a>

        <a class="btn btn-primary" href="javascript:void(0)" onclick="javascript: history.back(-1);">
            <i class="icon-reply"></i> 返回
        </a>
    </div>
</form>

<div id="" class="easyui-panel" title="报关单信息"
     data-options="collapsible:true">

    <table id="dg"  style="height:250px" class="easyui-datagrid"
           data-options=" rownumbers:true,
                                   dataType : 'json',
                                   method:'get'">
        <thead>
            <tr>
                <th data-options="field: 'ck', checkbox: true"></th>
                <th data-options="field:'ID',sortable:true,width:50,align:'center'">ID</th>
                <th data-options="field:'BUSIUNITNAME',sortable:true,width:200,align:'center'">报关单号</th>
                <th data-options="field:'TOTALNO',width:100,align:'center'">报关张数</th>
                <th data-options="field:'DIVIDENO',width:100,align:'center'">贸易方式</th>
                <th data-options="field:'GOODSNUM',width:50,align:'center'">件数</th>
                <th data-options="field:'GOODSWEIGHT',width:50,align:'center'">总重量</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">报关备注</th>
                <th data-options="field:'LAWCONDITION',width:50,align:'center'">删单</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">改单次数</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">预知单号</th>
                <th data-options="field:'DECLSHEETNUM',width:50,align:'center'">金额</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">代垫标志</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">垫税类型</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">手册号</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">手册状态</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">出保时间</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">QP关联字段</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">海关通关状态</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">抓取标志</th>
            </tr>
        </thead>
    </table>




</div>



<script type="text/javascript">
    function formatItem(row) {
        var s = '<span style="font-weight:bold">' + row.CODE + '</span> &nbsp;&nbsp;' +
                '<span style="color:#888">' + row.NAME + '</span>';
        return s;
    }

    function submitForm() {

        $('#OrderFrom ').form('submit', {
            url: "/Order/SaveData",
            onSubmit: function () {
                if ($(this).form('enableValidation').form('validate')) {
                    return true;
                } else {
                    return false;
                }
            },
            success: function (data) {
                debugger;
                var data = eval('(' + data + ')');  // change the JSON string to javascript object
                if (data.Success) {
                    $.messager.alert('成功', '保存成功');
                } else {
                    $.messager.alert('失败', '保存失败');
                }
            }
        });
    }


    var type;
    $(function () {
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var ID = getQueryString('ID');


        function loadsucc(data) {
            var PASSMODE = data['PASSMODE'];
            if (PASSMODE != "") {
                var arr = PASSMODE.split(',');
                for (i = 0; i < arr.length; i++) {
                    $('input[name=PASSMODE][value=' + arr[i] + ']')[0].checked = true;
                }
            }

        }

        $('#OrderFrom').form({ onLoadSuccess: loadsucc });
        $('#OrderFrom').form('load', '/Order/Edit_Order?ID=' + ID);


        $('.fillingData').click(function () {
            type = this.getAttribute("datatype");
            $.ajax({
                url: '/Order/Edit_Ajax_Scene',// 跳转到 action
                data: {
                    'ID': ID,
                    'type': type
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.Success == true) {
                        var time = "#" + type + 'TIME';
                        var name = "#" + type + 'USERNAME';
                        debugger;
                        $(time).textbox('setValue', data.datetime);
                        $(name).textbox('setValue', 'lakers');
                    } else {
                        $.messager.alert('异常', '联系管理员');
                    }
                },

            });

        });
    })

</script>
