<script type="text/javascript">
    //1 查询条件 --日期
    var search_condition_date = [
        { code: 'GUANWUJIESHOUTIME', name: '关务接受日期', selected: true },
        { code: 'BAORUHAIGUANTIME', name: '报入海关日期' },
        { code: 'SHANDANKAISHITIME', name: '删单开始日期' },
        { code: 'SHANDANWANCHENGTIME', name: '删单完成日期' },
        { code: 'GAIDANKAISHITIME', name: '改单开始日期' },
        { code: 'GAIDANWANCHENGTIME', name: '改单完成日期' },
        { code: 'CHAYANZHILINGXIAFATIME', name: '查验指令下发日期' },
        { code: 'CHAYANSTARTTIME', name: '查验开始日期' },
        { code: 'CHAYANENDTIME', name: '查验完成日期' },
        { code: 'DANZHENGFANGXINGTIME', name: '单证放行日期' },
        { code: 'SHIWUFANGXINGTIME', name: '实物放行日期' },
        { code: 'XIAOBAOTIME', name: '销保日期' },
    ];
    //2 查询条件  --单据号
    var search_code = [
        {
            code: 'DIVIDENO', name: '分单号', selected: true
        },
        { code: 'TOTALNO', name: '总单号' },
        { code: 'text', name: '万达号' },
        { code: 'CODE', name: '业务编号' },
        { code: 'CONTAINERNO', name: '集装箱号' },
        { code: 'TURNPRENO', name: '转关预录入号' },
        { code: 'FIRSTLADINGBILLNO', name: '一程提运单号' },
        { code: 'SECONDLADINGBILLNO', name: '二程提运单号' },
        { code: 'MANIFEST', name: '载货清单号' },
        { code: 'text', name: '报关单号' },
        { code: 'FWONO', name: 'FWO订单号' },
        { code: 'FOCUSTOMSNO', name: 'FO号' }
    ];
    $(function () {
        loadListGrid('Declare/OnelineIn_Edit');
        $('#searchform #search_condition_date').combobox({
            data: search_condition_date,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });

    })


    /**
    easyui number placeholder
    */

</script>
<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" title="一线进口" style="height:auto;min-height:500px;max-height:800px"
               data-options="queryParams:{BUSITYPE:'ONEIN'}">
            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'BUSIUNITNAME',width:200,sortable:true,">收货人</th>
                    <th data-options="field:'text',width:80,sortable:true">报关单号</th>
                    <th data-options="field:'text',width:80,sortable:true">海关通关状态</th>
                    <th data-options="field:'text',width:80,sortable:true">关务状态</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'FIRSTLADINGBILLNO',width:80,sortable:true">一程提运单号</th>
                    <th data-options="field:'SECONDLADINGBILLNO',width:80,sortable:true">二程提运单号</th>
                    <th data-options="field:'TOTALNO',width:100,sortable:true">总单号</th>
                    <th data-options="field:'DIVIDENO',width:80,sortable:true">分单号</th>
                    <th data-options="field:'text',width:80,sortable:true">万达号</th>
                    <th data-options="field:'MANIFEST',width:80,sortable:true">载货清单号</th>
                    <th data-options="field:'GOODSNUM',width:80,sortable:true">总件数</th>
                    <th data-options="field:'GOODSWEIGHT',width:80,sortable:true">总重量</th>
                    <th data-options="field:'ASSOCIATETRADEWAY',width:80,sortable:true">贸易方式</th>
                    <th data-options="field:'TURNPRENO',width:80,sortable:true">转关预录号</th>
                    <th data-options="field:'GUANWUJIESHOUTIME',width:100,sortable:true">关务接受时间</th>
                    <th data-options="field:'BAORUHAIGUANTIME',width:100,sortable:true">报入海关时间</th>
                    <th data-options="field:'DANZHENGFANGXINGTIME',width:100,sortable:true">单证放行时间</th>
                    <th data-options="field:'SHIWUFANGXINGTIME',width:80,sortable:true">实物放行时间</th>
                    <th data-options="field:'DANZHENGFANGXINGUSERNAME',width:80,sortable:true">单证放行人</th>
                    <th data-options="field:'SHIWUFANGXINGUSERNAME',width:80,sortable:true">实物放行人</th>
                    <th data-options="field:'FWONO',width:180,sortable:true">FWO订单号</th>
                    <th data-options="field:'FOONO',width:190,sortable:true">FOO报关服务号</th>                    
                    <th data-options="field:'CODE',width:80,sortable:true">业务编号</th>
                    <th data-options="field:'CUSTOMDISTRICTCODE',width:80,sortable:true">关区代码</th>
                    <th data-options="field:'LAWCONDITION',width:80,sortable:true">是否法检</th>
                </tr>
            </thead>
        </table>
        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="businessin_object" panelheight="auto" name="businessin_object"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="ordercode_value" placeholder="单据号" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_operator" panelheight="auto" name="oprname" ></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="oprname_value" placeholder="操作人" />
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value  placeholderclass" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value  placeholderclass" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>海关通关状态</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox value" id="customs_state" style="width:130px" panelheight="auto" name="customs_state"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>关区代码</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="CUSTOMDISTRICTCODE" name="CUSTOMDISTRICTCODE"></select>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-refresh"></i> 批量更新</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-share-square-o" aria-hidden="true"></i> 导出</a>
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-retweet" aria-hidden="true"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end ibox-content -->
</div>
