<form id="OrderFrom" class="OrderFrom" method="post">
    <div id="" style="margin-bottom:20px" class="easyui-panel" title="订单主信息"
         data-options="collapsible:true">
        <input type="hidden" name="ID" />
        <input type="hidden" name="type" value="01" />
        <input type="hidden" name="page" value="/Declare/OnelineIn_Edit" />
        <input type="text" name="DECLARATIONCODE" />
        <input type="text" name="ORDERCODE" />
        <table>
            <tr>
                <td>
                    <label for="FWONO">FWO订单号:</label>
                    <input class="easyui-textbox" type="text" name="FWONO" disabled="disabled" />
                </td>
                <td>
                    <label for="FOONO">FO号:</label>
                    <input class="easyui-textbox" type="text" name="FOONO" disabled="disabled" />
                </td>
                <td>
                    <label for="CODE">业务编号:</label>
                    <input class="easyui-textbox" type="text" name="CODE" disabled="disabled" />
                </td>
                <td>
                    <label for="TURNPRENO"> 转关预录号:</label>
                    <input class="easyui-textbox" type="text" name="TURNPRENO" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="GOODSNUM"> 总件数:</label>
                    <input class="easyui-textbox" type="text" name="GOODSNUM" disabled="disabled" />
                </td>
                <td>
                    <label for="GOODSWEIGHT">总重量:</label>
                    <input class="easyui-textbox" type="text" name="GOODSWEIGHT" disabled="disabled" />
                </td>
                <td>
                    <label for="TOTALNO">总单号:</label>
                    <input class="easyui-textbox" type="text" name="TOTALNO" disabled="disabled" />
                </td>
                <td>
                    <label for="DIVIDENO">分单号:</label>
                    <input class="easyui-textbox" type="text" name="DIVIDENO" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="FIRSTLADINGBILLNO"> 一程提运单号:</label>
                    <input class="easyui-textbox" type="text" name="FIRSTLADINGBILLNO" disabled="disabled" />
                </td>
                <td>
                    <label for="SECONDLADINGBILLNO">二程提运单号:</label>
                    <input class="easyui-textbox" type="text" name="SECONDLADINGBILLNO" disabled="disabled" />
                </td>
                <td>
                    <label for="CONTAINERNO">集装箱号:</label>
                    <input class="easyui-textbox" type="text" name="CONTAINERNO" disabled="disabled" />
                </td>
                <td>
                    <label for="SFGOODSUNIT">收货人:</label>
                    <input class="easyui-textbox" type="text" name="SFGOODSUNIT" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="text"> 万达号:</label>
                    <input class="easyui-textbox" type="text" name="text" disabled="disabled" />
                </td>
                <td>
                    <label for="MANIFEST">载货清单号:</label>
                    <input class="easyui-textbox" type="text" name="MANIFEST" disabled="disabled" />
                </td>
                <td>
                    <label for="CUSTOMDISTRICTCODE">申报关区:</label>
                    <input class="easyui-combobox" name="CUSTOMDISTRICTCODE" data-options="
					url: '/Order/Get_SBGQ',
					method: 'get',
					valueField: 'CODE',
					textField: 'NAME',
					panelWidth: 200,
					panelHeight: 'auto',
					formatter: formatItem,
					label: 'CUSTOMDISTRICTCODE:',
                    panelHeight:'200',
					labelPosition: 'top'
					">
                </td>
            </tr>
        </table>
    </div>
    <div class="easyui-panel" style="margin-bottom:15px" title="现场关务"
         data-options="collapsible:true">
        <table id="scene">
            <tr>
                <td>
                    <label for="GUANWUJIESHOUTIME"> 关务接受时间:</label>
                    <input class="easyui-datetimebox  time_input " id="GUANWUJIESHOUTIME" datatype="GUANWUJIESHOU" data-options="text:'填充时间'" editable="false" name="GUANWUJIESHOUTIME" />
                    @*<a href="javascript:void(0)" datatype="GUANWUJIESHOU" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="GUANWUJIESHOUUSERNAME">关务接受人:</label>
                    <input class="easyui-textbox " type="text" id="GUANWUJIESHOUUSERNAME" name="GUANWUJIESHOUUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="BAORUHAIGUANTIME"> 报入海关时间:</label>
                    <input class="easyui-textbox time_input DECLSTATUS" type="text" id="BAORUHAIGUANTIME" datatype="BAORUHAIGUAN" name="BAORUHAIGUANTIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="BAORUHAIGUAN" class="easyui-linkbutton fillingData DECLSTATUS"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="BAORUHAIGUANUSERNAME">报入海关人:</label>
                    <input class="easyui-textbox " type="text" id="BAORUHAIGUANUSERNAME" name="BAORUHAIGUANUSERNAME" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="SHANDANKAISHITIME"> 删单开始时间:</label>
                    <input class="easyui-textbox  time_input" id="SHANDANKAISHITIME" data-options="text:'填充时间'" datatype="SHANDANKAISHI" name="SHANDANKAISHITIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="SHANDANKAISHI" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="SHANDANKAISHIUSERNAME">删单开始人:</label>
                    <input class="easyui-textbox " type="text" id="SHANDANKAISHIUSERNAME" name="SHANDANKAISHIUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="SHANDANWANCHENGTIME"> 删单完成时间:</label>
                    <input class="easyui-textbox time_input" id="SHANDANWANCHENGTIME" datatype="SHANDANWANCHENG" name="SHANDANWANCHENGTIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="SHANDANWANCHENG" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="SHANDANWANCHENGUSERNAME">删单完成人:</label>
                    <input class="easyui-textbox " type="text" id="SHANDANWANCHENGUSERNAME" name="SHANDANWANCHENGUSERNAME" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="GAIDANKAISHITIME"> 改单开始时间:</label>
                    <input class="easyui-textbox  time_input" id="GAIDANKAISHITIME" datatype="GAIDANKAISHI" data-options="text:'填充时间'" name="GAIDANKAISHITIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="GAIDANKAISHI" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="GAIDANKAISHIUSERNAME">改单开始人:</label>
                    <input class="easyui-textbox " type="text" id="GAIDANKAISHIUSERNAME" name="GAIDANKAISHIUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="GAIDANWANCHENGTIME"> 改单完成时间:</label>
                    <input class="easyui-textbox time_input" id="GAIDANWANCHENGTIME" datatype="GAIDANWANCHENG" name="GAIDANWANCHENGTIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="GAIDANWANCHENG" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="GAIDANWANCHENGUSERNAME">改单完成人:</label>
                    <input class="easyui-textbox " type="text" id="GAIDANWANCHENGUSERNAME" name="GAIDANWANCHENGUSERNAME" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="DANZHENGFANGXINGTIME"> 单证放行时间:</label>
                    <input class="easyui-textbox time_input DECLSTATUS" id="DANZHENGFANGXINGTIME" datatype="DANZHENGFANGXING" name="DANZHENGFANGXINGTIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="DANZHENGFANGXING" class="easyui-linkbutton fillingData DECLSTATUS"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="DANZHENGFANGXINGUSERNAME">单证放行人:</label>
                    <input class="easyui-textbox " type="text" id="DANZHENGFANGXINGUSERNAME" name="DANZHENGFANGXINGUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="XIAOBAOTIME"> 销保时间:</label>
                    <input class="easyui-textbox time_input" id="XIAOBAOTIME" name="XIAOBAOTIME" datatype="XIAOBAO" editable="false" />
                    @*<a href="javascript:void(0)" datatype="XIAOBAO" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="XIAOBAOUSERNAME">销保人:</label>
                    <input class="easyui-textbox " type="text" id="XIAOBAOUSERNAME" name="XIAOBAOUSERNAME" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CHAYANSTARTTIME"> 查验起始时间:</label>
                    <input class="easyui-textbox time_input DECLSTATUS" id="CHAYANSTARTTIME" datatype="CHAYANSTART" name="CHAYANSTARTTIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="CHAYANSTART" class="easyui-linkbutton fillingData DECLSTATUS"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="CHAYANSTARTUSERNAME">起始查验人:</label>
                    <input class="easyui-textbox " type="text" id="CHAYANSTARTUSERNAME" name="CHAYANSTARTUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="CHAYANENDTIME"> 查验完成时间:</label>
                    <input class="easyui-textbox time_input" id="CHAYANENDTIME" datatype="CHAYANEND" name="CHAYANENDTIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="CHAYANEND" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="CHAYANENDUSERNAME">完成查验人:</label>
                    <input class="easyui-textbox " type="text" id="CHAYANENDUSERNAME" name="CHAYANENDUSERNAME" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="SHIWUFANGXINGTIME">实物放行时间:</label>
                    <input class="easyui-textbox time_input" id="SHIWUFANGXINGTIME" datatype="SHIWUFANGXING" name="SHIWUFANGXINGTIME" editable="false" />
                    @*<a href="javascript:void(0)" datatype="SHIWUFANGXING" class="easyui-linkbutton fillingData"><i class="icon-time"></i></a>*@
                </td>
                <td>
                    <label for="SHIWUFANGXINGUSERNAME">实物放行人:</label>
                    <input class="easyui-textbox " type="text" id="SHIWUFANGXINGUSERNAME" name="SHIWUFANGXINGUSERNAME" disabled="disabled" />
                </td>
                <td>
                    <label for="DECLSTATUS"> 报关状态:</label>
                    <input class="easyui-textbox" type="text" name="DECLSTATUS" id="DECLSTATUS" />
                </td>
                <td>
                    <label for="JGCZCBH"> 监管仓暂存号:</label>
                    <input class="easyui-textbox" type="text" name="JGCZCBH" id="JGCZCBH" />
                </td>
            </tr>
            <tr>
                <td>
                    <div style="float:left;height:22px;line-height:22px;">
                        <label>放行方式:</label>
                    </div>
                    <div style="float:left">
                        <label for="zhengchang">正常放行:</label>
                        <input class="" id="zhengchang" type="checkbox" value="1" name="PASSMODE" />
                        <label for="jiancha">查验放行:</label>
                        <input class="" id="jiancha" type="checkbox" value="3" name="PASSMODE" />
                    </div>
                </td>
                <td style="text-align:left">
                    <label for="IFYIJIAO">是否移交:</label>
                    <input class="" id="IFYIJIAO" type="checkbox" name="IFYIJIAO" value="1" />
                </td>
                <td style="text-align:left">
                    <label for="LAWCONDITION">法检标志:</label>
                    <input class="" id="LAWCONDITION" type="checkbox" name="LAWCONDITION" value="1" />
                </td>
                <td style="text-align:left">
                    <label for="LIHUOSIGN">理货标识:</label>
                    <input class="" id="LIHUOSIGN" type="checkbox" name="LIHUOSIGN" value="1" />
                </td>
            </tr>

            <tr>
                <td style="text-align:left">
                    <label for="IFSHANDAN">是否删单:</label>
                    <input class="" id="IFSHANDAN" type="checkbox" name="IFSHANDAN" value="1" />
                </td>
                <td>
                    <label for="SHANDANTOTAL">删单次数:</label>
                    <input class="easyui-numberspinner" name="SHANDANTOTAL"
                           data-options="min:0">
                </td>
                <td>
                    <label for="SHANDANDESC">删单备注:</label>
                    <input class="easyui-textbox" type="text" name="SHANDANDESC" />
                </td>

            </tr>
            <tr>
                <td style="text-align:left">
                    <label for="IFGAIDAN">是否改单:</label>
                    <input class="" id="IFGAIDAN" type="checkbox" name="IFGAIDAN" value="1" />
                </td>
                <td>
                    <label for="GAIDANTOTAL">改单次数:</label>
                    <input class="easyui-numberspinner" name="GAIDANTOTAL"
                           data-options="min:0">
                </td>
                <td>
                    <label for="GAIDANDESC">改单备注:</label>
                    <input class="easyui-textbox" type="text" name="GAIDANDESC" />
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <label for="IFCHAYAN">是否查验:</label>
                    <input class="" id="IFCHAYAN" type="checkbox" name="IFCHAYAN" value="1" />
                </td>
                <td>
                    <label for="CHAYANTIMES">查验次数:</label>
                    <input class="easyui-numberspinner" name="CHAYANTIMES"
                           data-options="min:0">
                </td>
                <td>
                    <label for="CHAYANREMARK">查验备注:</label>
                    <input class="easyui-textbox" type="text" name="CHAYANREMARK" />
                </td>
                <td>
                    <label for="CHAYANZHILINGXIAFATIME" style="width:100px;">查验指令下发时间:</label>
                    <input class="easyui-datetimebox value" type="text" name="CHAYANZHILINGXIAFATIME" editable="false">

                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <label for="IFTIAODANG">是否调档:</label>
                    <input class="" id="IFTIAODANG" type="checkbox" name="IFTIAODANG" value="1" />
                </td>
                <td>
                    <label for="TIAODANGTIMES">调档次数:</label>
                    <input class="easyui-numberspinner" name="TIAODANGTIMES"
                           data-options="min:0">
                </td>
                <td style="text-align:left">
                    <label for="KOUHUOSIGN">扣货标识:</label>
                    <input class="" id="KOUHUOSIGN" type="checkbox" name="KOUHUOSIGN" value="1" />
                </td>
                <td>
                    <label for="KOUHUOTIME" style="width:100px;">扣货时间:</label>
                    <input class="easyui-datetimebox value" type="text" name="KOUHUOTIME" editable="false">
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align:center;padding:5px 0">
        <a class="btn btn-primary" href="javascript:void(0)" onclick="BaoguandanInfo()">
            报关单信息
        </a>
        <a class="btn btn-primary" href="javascript:void(0)" onclick="JizhuangxiangInfo()">
            集装箱信息
        </a>
        <a class="btn btn-primary" href="javascript:void(0)" onclick="submitForm()">
            <i class="fa fa-floppy-o"></i> 保存
        </a>
        <a class="btn btn-primary" href="javascript:void(0)" onclick="javascript: history.back(-1);">
            <i class="icon-reply"></i> 返回
        </a>
    </div>
</form>

<script type="text/javascript">
    Edit();
 </script>
