bin/SceneOfCustoms.dll
bin/SceneOfCustoms.pdb
obj/Debug/
SceneOfCustoms.v12.suo
SceneOfCustoms.csproj
SceneOfCustoms.csproj.user
*.bak
*.svcinfo
Service References/ServiceReference1/configuration91.svcinfo
*.cs