bin/SceneOfCustoms.dll
bin/SceneOfCustoms.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SceneOfCustoms.csproj.FileListAbsolute.txt
obj/Debug/SceneOfCustoms.dll
SceneOfCustoms.csproj.user
*.dll
*.xml
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
obj/Debug/SceneOfCustoms.csproj.FileListAbsolute.txt
*.pdb
*.cache
obj/Debug/SceneOfCustoms.csproj.FileListAbsolute.txt
*.txt
obj/Debug/SceneOfCustoms.dll
*.dll
*.pdb
*.dll 
bin/SceneOfCustoms.dll
*.pdb
obj/Debug/SceneOfCustoms.csproj.FileListAbsolute.txt
bin/SceneOfCustoms.pdb
obj/Debug/SceneOfCustoms.csproj.FileListAbsolute.txt
obj/Debug/SceneOfCustoms.pdb