<script type="text/javascript">
    //1 查询条件 --日期
    var search_condition_date = [
        { code: 'BAOJIANTIME', name: '报检日期', selected: true },
        { code: 'BAOJIANFANGXINGTIME', name: '报检放行日期' },
        { code: 'CHAYANZHILINGXIAFATIME', name: '查验日期' },
        { code: 'CHAYANFANGXINGTIME', name: '查验放行日期' },
        { code: 'XUNZHENGTIME', name: '熏蒸日期' },
        { code: 'SHANDANKAISHITIME', name: '删单日期' },
        { code: 'GAIDANKAISHITIME', name: '改单日期' }
    ];
    //2 查询条件  --单据号
    var search_code = [
        { code: 'CODE', name: '业务编号', selected: true },
        { code: 'FWONO', name: 'FWO订单号', },
        { code: 'FOONOBJ', name: 'FO号' },
        { code: 'TOTALNO', name: '总单号' },
        { code: 'DIVIDENO', name: '分单号' },
        { code: 'text', name: '万达号' },
        { code: 'MANIFEST', name: '载货清单号' },
        { code: 'INSPECTIONCODE', name: '报检单号' },
        { code: 'FIRSTLADINGBILLNO', name: '一程提运单号' },
        { code: 'SECONDLADINGBILLNO', name: '二程提运单号' },
        { code: 'CLEARANCENO', name: '通关单号' },
        { code: 'CONTAINERNO', name: '集装箱号' }
    ];
    //3 查询条件 --
    var BUSITYPE = [
        { code: 'GUONEIJIEZHUAN', name: '国内结转' },
        { code: 'DIEJIABAOSHUI', name: '叠加保税' },
        { code: 'TESHUJIANGUANQU', name: '特殊监管区' }
    ];
    $(function () {
        $('#searchform #BUSITYPE').combobox({
            data: BUSITYPE,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #search_condition_date').combobox({
            data: search_condition_date,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });
        loadListGrid('Inspect/DomesticKnot_Edit');
    })
</script>
<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" title="国内结转" style="height:auto;min-height:500px;max-height:800px"
               data-options="queryParams:{BUSITYPE:'BLCBJ'}">
            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'CODE',width:120,sortable:true,">业务单号</th>
                    <th data-options="field:'BUSIUNITNAME',width:150,sortable:true,">进口企业</th>
                    <th data-options="field:'BUSIUNITNAME',width:150,sortable:true,">出口企业</th>
                    <th data-options="field:'INSPECTIONCODE',width:100,sortable:true,">报检单号</th>
                    <th data-options="field:'INSPECTIONSTATUS',width:100,sortable:true">国检状态</th>
                    <th data-options="field:'CLEARANCENO',width:100,sortable:true">通关单号</th>
                    <th data-options="field:'INSPSTATUS',width:100,sortable:true">报检状态</th>
                    @*<th data-options="field:'DECLSTATUS',width:100,sortable:true">报关状态</th>*@
                    <th data-options="field:'BUSITYPE',width:100,formatter:formatBUSITYPE">业务类型</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'GOODSNUM',width:100,sortable:true">总件数</th>
                    <th data-options="field:'GOODSWEIGHT',width:100,sortable:true">总重量</th>
                    <th data-options="field:'CONTRACTNO',width:100,sortable:true">合同/发票号</th>
                    <th data-options="field:'text',width:100,sortable:true">通关单标志</th>
                    <th data-options="field:'text',width:100,sortable:true">通关单张数</th>
                    <th data-options="field:'BAOJIANTIME',width:100,sortable:true">报检时间</th>
                    <th data-options="field:'BAOJIANFANGXINGTIME',width:100,sortable:true">报检放行时间</th>
                    <th data-options="field:'SHANDANKAISHITIME',width:100,sortable:true">删单时间</th>
                    <th data-options="field:'GAIDANKAISHITIME',width:100,sortable:true">改单时间</th>
                    <th data-options="field:'FWONO',width:180,sortable:true">FWO号</th>
                    <th data-options="field:'FOONOBJ',width:180,sortable:true">FOO报检服务号</th>
                    <th data-options="field:'ASSOCIATENO',width:180,sortable:true">两单关联号</th>
                    <th data-options="field:'CORRESPONDNO',width:180,sortable:true">四单关联号</th>
                    <th data-options="field: 'BUSINAME',width:200">业务类型</th>
                </tr>
            </thead>
        </table>
        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <input type="hidden" name="BUSITYPE" value="BLCBJ" />
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" editable="false" id="BUSITYPE" panelheight="auto" name="YCBUSITYPE"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务方式</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" editable="false" id="service_model" panelheight="auto" name="service_model"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="ordercode_value" placeholder="单据号" />
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value placeholderclass" editable="false" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value placeholderclass" editable="false" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>转入出类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" editable="false" id="out_in" panelheight="auto" name="out_in"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>法检标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value is_check" editable="false" panelheight="auto" name="LAWCONDITION"></select>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="bjrefresh_form()"><i class="icon-refresh"></i> 批量更新</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="export_form()"><i class="fa fa-share-square-o" aria-hidden="true"></i> 导出</a>
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="icon-refresh"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
</div>


