<script type="text/javascript">

    //1 查询条件 --日期
    var search_condition_date = [
        { code: 'guanwujieshou', name: '报检日期', selected: true },
        { code: 'guanwujieshou', name: '报检放行日期' },
        { code: 'guanwujieshou', name: '查验日期' },
        { code: 'baoruhaiguan', name: '查检放行日期' },
        { code: 'shandankaishi', name: '熏蒸日期' },
        { code: 'shandanwancheng', name: '删单日期' },
        { code: 'gaidankaishi', name: '改单日期' }
    ];

    //2 查询条件  --单据号
    var search_code = [
        {
            code: 'jiedan', name: 'FWO订单号', selected: true
        },
        { code: 'koufangxing', name: 'FO号' },
        { code: 'lihuo', name: '总单号' },
        { code: 'lihuo', name: '分单号' },
        { code: 'jihuabaoguan', name: '万达号' },
        { code: 'koufangxing', name: '载货清单号' },
        { code: 'koufangxing', name: '报检单号' },
        { code: 'koufangxing', name: '业务编号' },
        { code: 'shiwufangxing', name: '一程提运单号' },
        { code: 'chuguanfeng', name: '二程提运单号' },
        { code: 'chuguanfeng', name: '通关单号' },
        { code: 'baoguan', name: '集装箱号' }
    ];



    //3 查询条件 --
    var BUSITYPE = [
        { code: 'guanwujieshou', name: '国内结转'},
        { code: 'baoruhaiguan', name: '叠加保税' },
        { code: 'chayanzhilingxiafa', name: '特殊监管区' }
    ];

    $(function () {
        $('#searchform #BUSITYPE').combobox({
            data: BUSITYPE,
            valueField: 'code',
            textField: 'name'
        });

        $('#searchform #search_condition_date').combobox({
            data: search_condition_date,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });
        loadListGrid('Inspect/DomesticKnot_Edit');
    })
</script> 
<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" title="国内结转" style="height:auto;min-height:500px;max-height:800px"
               data-options="queryParams:{BUSITYPE:11}">
            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'BUSIUNITNAME',sortable:true,">进口企业</th>
                    <th data-options="field:'BUSIUNITNAME',sortable:true,">出口企业</th>
                    <th data-options="field:'text',sortable:true,">报检单号</th>
                    <th data-options="field:'CLEARANCENO',sortable:true">通关单号</th>
                    <th data-options="field:'INSPSTATUS',sortable:true">报检状态</th>
                    <th data-options="field:'DECLSTATUS',sortable:true">报关状态</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'GOODSNUM',sortable:true">总件数</th>
                    <th data-options="field:'GOODSWEIGHT',sortable:true">总重量</th>
                    @*<th data-options="field:'TOTALNO',sortable:true">总单号</th>
                    <th data-options="field:'DIVIDENO',sortable:true">分单号</th>*@
                    <th data-options="field:'CONTRACTNO',sortable:true">合同/发票号</th>
                    <th data-options="field:'text',sortable:true">通关单标志</th>
                    <th data-options="field:'text',sortable:true">通关单张数</th>
                    <th data-options="field:'BAOJIANTIME',sortable:true">报检时间</th>
                    <th data-options="field:'BAOJIANFANGXINGTIME',sortable:true">报检放行时间</th>
                    <th data-options="field:'SHANDANKAISHITIME',sortable:true">删单时间</th>
                    <th data-options="field:'GAIDANKAISHITIME',sortable:true">改单时间</th>
                    <th data-options="field:'FWONO',sortable:true">FWO号</th>
                    <th data-options="field:'FOONO',sortable:true">FO号</th>
                    <th data-options="field:'BUSITYPE',sortable:true">业务类型</th>
                </tr>
            </thead>
        </table>

        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <table>
                        <tr>


                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="BUSITYPE" panelheight="auto" name="BUSITYPE"></select>
                            </td>


                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务方式</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="service_model" panelheight="auto" name="service_model"></select>
                            </td>


                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>转入出类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="out_in" panelheight="auto" name="out_in"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>

                        <tr>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value" type="text" name="ordercode_value" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>法检标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value is_check" panelheight="auto" name="LAWCONDITION"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>通关单标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value is_check" panelheight="auto" ></select>
                            </td>

                        </tr>

                    </table>
                </form>
            </div>

            <div class="tb_but">
                <div class="but_left">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-refresh"></i> 批量更新</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-share-square-o" aria-hidden="true"></i> 导出</a>
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="icon-refresh"></i> 重置</a>
                </div>
            </div>
        </div>

    </div>
 
</div>
 

