<script type="text/javascript">
    $(function () {
        loadListGrid('Inspect/LandIn_Edit');
    })
</script> 
<div class="ibox-content">
    <div class="table-responsive"> 
        <table id="datagrid" class="easyui-datagrid" title="陆运进口" style="height:auto;min-height:500px;max-height:800px"
               data-options="">
            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'text',sortable:true">平台编号</th>
                    <th data-options="field:'YWBH',sortable:true">业务编号</th>
                    <th data-options="field:'BUSIUNITNAME',sortable:true">收货人</th>
                    <th data-options="field:'GOODSNUM',sortable:true">总件数</th>
                    <th data-options="field:'GOODSWEIGHT',sortable:true">总重量</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'text',sortable:true">载货清单号</th>
                    <th data-options="field:'text',sortable:true">万达号</th>
                    <th data-options="field:'text',sortable:true">通关单标志</th>
                    <th data-options="field:'text',sortable:true">报检单号</th>
                    <th data-options="field:'CLEARANCENO',sortable:true">通关单号</th>
                    <th data-options="field:'text',sortable:true">报检输机时间</th>
                    <th data-options="field:'MOACCEPTTIME',sortable:true">制单时间</th>
                    <th data-options="field:'text',sortable:true">报检时间</th>
                    <th data-options="field:'text',sortable:true">报检人</th>
                    <th data-options="field:'SHIWUFANGXINGTIME',sortable:true">放行时间</th>
                    <th data-options="field:'SHIWUFANGXINGUSERNAME',sortable:true">放行人</th>
                    <th data-options="field:'CONTRACTNO',sortable:true">合同/发票号</th>
                    <th data-options="field:'text',sortable:true">接单备注</th>
                    <th data-options="field:'text',sortable:true">OPS接单人</th>
                    <th data-options="field:'text',sortable:true">OPS接单时间</th>
                    <th data-options="field:'DECLSTATUS',sortable:true">报关状态</th>
                    <th data-options="field:'INSPSTATUS',sortable:true">报检状态</th>
                </tr>
            </thead>
        </table>

        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value" type="text" name="ordercode_value" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_operator" panelheight="auto" name="oprname"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value" type="text" name="oprname_value" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务对象</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="business_object" panelheight="auto" name="business_object"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>

                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>海关通关状态</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox value" id="customs_state" style="width:130px" panelheight="auto" name="customs_state"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>通关单标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width is_check"   panelheight="auto" name="is_clearance"></select>
                            </td>
                        </tr>


                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    @*<a class="btn btn-primary btn-xs" href="javascript:void(0)"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)"><i class="icon-refresh"></i> 重置</a>*@
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="icon-refresh"></i> 重置</a>
                </div>
            </div>
        </div>

    </div>
</div>
