<script type="text/javascript">
    //1 查询条件 --日期
    var search_condition_date = [
        { code: 'guanwujieshou', name: '查验日期', selected: true },
        { code: 'baoruhaiguan', name: '查验放行日期' },
        { code: 'shandankaishi', name: '熏蒸日期' },
        { code: 'shandanwancheng', name: '删单日期' },
        { code: 'gaidankaishi', name: '改单日期' },
        { code: 'gaidanwancheng', name: '报检日期' },
        { code: 'chayanzhilingxiafa', name: '报检放行日期' }
    ];

    //2 查询条件  --单据号
    var search_code = [ 
        { 
            code: 'jiedan', name: 'FWO订单号', selected: true
        },
        { code: 'koufangxing', name: 'FO号' },
        { code: 'koufangxing', name: '分单号' },
        { code: 'lihuo', name: '总单号' },
        { code: 'lihuo', name: '分单号' },
        { code: 'jihuabaoguan', name: '万达号' },
        { code: 'koufangxing', name: '载货清单号' },
        { code: 'koufangxing', name: '报检单号' },
        { code: 'koufangxing', name: '业务编号' },
        { code: 'shiwufangxing', name: '一程提运单号' },
        { code: 'chuguanfeng', name: '二程提运单号' },
        { code: 'chuguanfeng', name: '通关单号' },
        { code: 'baoguan', name: '集装箱号' }
    ];


    $(function () {
        loadListGrid('Inspect/OnelineIn_Edit');
        $('#searchform #search_condition_date').combobox({
            data: search_condition_date,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });
    })
</script>
<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" title="一线进口" style="height:auto;min-height:500px;max-height:800px"
               data-options="queryParams:{BUSITYPE:11}">
            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'BUSIUNITNAME',width:200,sortable:true,">收货人</th>
                    <th data-options="field:'CLEARANCENO',width:100">通关单号</th>
                    <th data-options="field:'text',width:100,sortable:true">报检单号</th>
                    <th data-options="field:'INSPSTATUS',width:100,sortable:true">报检状态</th>
                    <th data-options="field:'DECLSTATUS',width:100,sortable:true">报关状态</th>
                    <th data-options="field:'BUSITYPE',width:100">业务类型</th>
                </tr>
            </thead>
            <thead> 
                <tr>
                    <th data-options="field:'GOODSNUM',width:100,sortable:true">总件数</th>
                    <th data-options="field:'GOODSWEIGHT',width:100,sortable:true">总重量</th>
                    <th data-options="field:'TOTALNO',width:100,sortable:true">总单号</th>
                    <th data-options="field:'DIVIDENO',width:100,sortable:true">分单号</th>
                    <th data-options="field:'FIRSTLADINGBILLNO',width:100,sortable:true">一程提单号</th>
                    <th data-options="field:'SECONDLADINGBILLNO',width:100,sortable:true">二程提单号</th>
                    <th data-options="field:'text',width:100,sortable:true">万达号</th>
                    <th data-options="field:'MANIFEST',width:100,sortable:true">载货清单号</th>
                    <th data-options="field:'CONTRACTNO',width:100,sortable:true">合同/发票号</th>
                    <th data-options="field:'text',width:100,sortable:true">通关单标志</th>
                    <th data-options="field:'text',width:100,sortable:true">通关单张数</th>
                    <th data-options="field:'WOODPACKINGID',width:100,sortable:true">木质包装</th>
                    <th data-options="field:'BAOJIANTIME',width:100,sortable:true">报检时间</th>
                    <th data-options="field:'BAOJIANFANGXINGTIME',width:100,sortable:true">报检放行时间</th>
                    <th data-options="field:'CHAYANZHILINGXIAFATIME',width:100,sortable:true">查验时间</th>
                    <th data-options="field:'CHAYANFANGXINGTIME',width:100,sortable:true">查验放行时间</th>
                    <th data-options="field:'XUNZHENGTIME',width:100,sortable:true">熏蒸时间</th>
                    <th data-options="field:'SHANDANKAISHITIME',width:100,sortable:true">删单时间</th>
                    <th data-options="field:'GAIDANKAISHITIME',width:100,sortable:true">改单时间</th>
                    <th data-options="field:'FWONO',width:100,sortable:true">FWO号</th>
                    <th data-options="field:'FOONOBJ',width:100">FOO报检服务号</th>
                    <th data-options="field:'CODE',width:100,sortable:true">业务编号</th>
                </tr>
            </thead>
        </table>

        <div id="tb">
            <div class="tb_search">
                <div id="searchform" method="post">
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="businessin_object" panelheight="auto" name="BUSITYPE"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="ordercode_value" placeholder="单据号" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_operator" panelheight="auto" name="oprname"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="oprname_value" placeholder="操作人" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value placeholderclass" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value placeholderclass" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>

                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>关区代码</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value " id="CUSTOMDISTRICTCODE" name="CUSTOMDISTRICTCODE"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>法检标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value is_check" name="LAWCONDITION"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>木质包装</option>
                                </select>
                            </td>

                            <td>
                                <select class="easyui-combobox combobox_width value is_check" name="WOODPACKINGID"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>通关单标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value is_check" panelheight="auto"></select>
                            </td>

                        </tr>

    
                    </table>
                </div>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-refresh"></i> 批量更新</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-share-square-o" aria-hidden="true"></i> 导出</a>
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="icon-refresh"></i> 重置</a>
                </div>
            </div>
        </div>

    </div>
    <!-- end ibox-content -->
</div>
