#datagrid {
    
}
#searchform {
    padding: 10px 0px;
}

    #searchform table tr {
        height: 30px;
    }

        #searchform table tr .easyui-combobox {
            width: 100px;
        }

        #searchform table tr .easyui-textbox {
            width: 130px;
        }

        #searchform table tr .easyui-datebox {
            width: 130px;
        }

        #searchform table tr .combobox_width {
            width: 130px;
        }

    #searchform .search_margin {
        padding-left: 30px;
    }

#tb .tb_but {
    overflow: hidden;
    height: 28px;
    background:#CFDEFF;
}

    #tb .tb_but .but_left {
        float: left;
        margin: 3px 10px 0px 10px;
    }

    #tb .tb_but .but_right {
        float: right;
        margin: 3px 10px 0px 10px;
    }

#tb {
    padding: 0px;
}

    #tb .tb_search {
        border-bottom: 1px solid #ddd;
    }



        #OrderFrom {
        margin: 10px 0px;
    }

        #OrderFrom table {
            width: 100%;
        }

            #OrderFrom table tr {
                height: 40px;
            }

                #OrderFrom table tr td {
                    width: 25%;
                }

                    #OrderFrom table tr td label {
                        width: 80px;
                        text-align: right;
                    }

                    #OrderFrom table tr td .easyui-textbox {
                        width: 200px;
                    }

                    #OrderFrom table tr td .easyui-numberspinner {
                         width: 200px;
                    }

                    #OrderFrom table tr td .easyui-combobox {
                        width: 200px;
                    }

    #scene .easyui-linkbutton {
        margin-left: -5px;
    }

    #scene .l-btn-text {
        line-height: 20px;
    }

    #scene .time_input {
        width: 200px !important;
    }


    .OrderFrom {
        margin: 10px 0px;
    }

        .OrderFrom table {
            width: 100%;
        }

            .OrderFrom table tr {
                height: 40px !important;
            }

    .OrderFromtable tr td {
        width: 25%;
    }

    .OrderFrom table tr td label {
        width: 80px;
        text-align: right;
    }

    .OrderFrom table tr td .easyui-textbox {
        width: 200px;
    }

    .OrderFrom table tr td .easyui-numberspinner {
        width: 200px;
    }

    .OrderFrom table tr td .easyui-combobox {
        width: 200px;
    }

    .scene .easyui-linkbutton {
        margin-left: -5px;
    }

    .scene .l-btn-text {
        line-height: 20px;
    }

    .scene .time_input {
        width: 180px !important;
    }

    .panel-title {
        color: #3071a9;
    }

    .tabs-wrap .tabs span{
        color: #3071a9;
    }