<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" title="国内结转列表" style="height:auto;min-height:500px;max-height:800px"
               data-options=" rownumbers:true,
                                   url: '/Order/GetData',
                                   queryParams:{TYPE:'DomesticKnot'},
                                   dataType : 'json',
                                   method:'get',
                                   toolbar:'#tb',
                                   pageSize:20,
                                   pagination:true ">
            <thead>
                <tr>
                    <th data-options="field: 'ck', checkbox: true"></th>
                    <th data-options="field:'CODE',width:140,sortable:true,align:'center'">业务编号</th>
                    <th data-options="field:'ASSOCIATEPEDECLNO',width:140,align:'center',sortable:true">报关单号</th>
                    <th data-options="field:'text',width:100,sortable:true,align:'center'">关务状态</th>
                    <th data-options="field:'text',width:100,sortable:true,align:'center'">业务类型</th>
                    <th data-options="field:'BUSIUNITNAME',width:200,sortable:true,align:'center'">企业</th>
                    <th data-options="field:'CONTRACTNO',width:100,sortable:true,align:'center'">合同/发票号</th>
                    @*<th data-options="field:'text',width:100,sortable:true,align:'center'">转入出类别</th>
                    <th data-options="field:'BUSITYPE',width:100,sortable:true,align:'center'">进出口类别</th>
                    <th data-options="field:'CORRESPONDNO',width:120,sortable:true,align:'center'">对应号</th>
                    <th data-options="field:'text',width:120,sortable:true,align:'center'">出口业务方式</th>
                    <th data-options="field:'text',width:120,align:'center'">手册号</th>
                    <th data-options="field:'text',width:120,align:'center'">核销单号</th>*@
                    <th data-options="field:'DECLSHEETNUM',width:70,sortable:true,align:'center'">报关单张数</th>
                    <th data-options="field:'ASSOCIATETRADEWAY',width:100,sortable:true,align:'center'">贸易方式</th>
                    <th data-options="field:'GOODSNUM',width:50,sortable:true,align:'center'">总件数</th>
                    <th data-options="field:'GOODSWEIGHT',width:50,sortable:true,align:'center'">总重量</th>
                    <th data-options="field:'text',width:50,sortable:true,align:'center'">备注</th>
                    <th data-options="field:'test',width:200,sortable:true,align:'center'">OPS接单时间</th>
                    <th data-options="field:'test',width:100,align:'center'">OPS接单人</th>
                    <th data-options="field:'test',width:200,sortable:true,align:'center'">关务接单时间</th>
                    <th data-options="field:'test',width:100,align:'center'">关务接单人</th>
                    <th data-options="field:'GUOJITIME',width:200,sortable:true,align:'center'">过机时间</th>
                    <th data-options="field:'GUOJIUSERNAME',width:100,align:'center'">过机人</th>
                    <th data-options="field:'LIDANTIME',width:200,sortable:true,align:'center'">理单时间</th>
                    <th data-options="field:'LIDANUSERNAME',width:100,align:'center'">理单人</th>
                    <th data-options="field:'LIHUOZILIAOTIME',width:200,sortable:true,align:'center'">理单资料时间</th>
                    <th data-options="field:'LIHUOZILIAOUSERNAME',width:100,align:'center'">理单资料人</th>
                    <th data-options="field:'BAOGUANTIME',width:200,sortable:true,align:'center'">报关时间</th>
                    <th data-options="field:'BAOGUANUSERNAME',width:100,align:'center'">报关人</th>
                    <th data-options="field:'DANZHENGFANGXINGTIME',width:200,sortable:true,align:'center'">单证放行时间</th>
                    <th data-options="field:'DANZHENGFANGXINGUSERNAME',width:100,align:'center'">单证放行人</th>
                    <th data-options="field:'SHIWUFANGXINGTIME',width:200,sortable:true,align:'center'">实物放行时间</th>
                    <th data-options="field:'SHIWUFANGXINGUSERNAME',width:100,align:'center'">实物放行人</th>
                    <th data-options="field:'CUSTOMDISTRICTCODE',width:100,align:'center'">申报关区</th>
                    <th data-options="field:'text',width:100,align:'center'">打印状态</th>
                    <th data-options="field:'text',width:80,align:'center'">报检状态</th>
                    <th data-options="field:'text',width:120,align:'center'">关务编号</th>
                    <th data-options="field:'text',width:80,align:'center'">急货标识</th>
                    <th data-options="field:'text',width:200,sortable:true,align:'center'">出单日期</th>
                    <th data-options="field:'text',width:100,align:'center'">报关方式</th>
                    <th data-options="field:'text',width:120,align:'center'">海关通关状态</th>
                    <th data-options="field:'test',width:100,align:'center'">签收号</th>
                    <th data-options="field:'test',width:100,align:'center'">签收人</th>
                    <th data-options="field:'test',width:100,align:'center'">签收日期</th>
                    <th data-options="field:'test',width:100,align:'center'">报关资料齐全标志</th>
                    <th data-options="field:'test',width:100,align:'center'">文档类别</th>
                </tr>
            </thead>
        </table>

        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <table>
                        <tr>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务方式</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="service_model" panelheight="auto" name="service_model"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value" type="text" name="ordercode_value" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_operator" panelheight="auto" name="oprname"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value" type="text" name="oprname_value" />
                            </td>



                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>

                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>海关通关状态</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox value combobox_width" id="customs_state" panelheight="auto" name="customs_state"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务对象</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="business_object" panelheight="auto" name="business_object"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>急货标识</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value is_check" panelheight="auto" name=""></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>报关资料齐全标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value is_check" panelheight="auto" name=""></select>
                            </td>
                        </tr>

                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>文档类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox value combobox_width" id="doc_type" panelheight="auto" name="doc_type"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>报关方式</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox value combobox_width" id="declaration_type" panelheight="auto" name="declaration_type"></select>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    @*<a class="btn btn-primary btn-xs" href="javascript:void(0)"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)"><i class="icon-refresh"></i> 重置</a>*@
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="icon-refresh"></i> 重置</a>
                </div>
            </div>
        </div>

    </div>
 
</div>

<script type="text/javascript">
        //双击事件
        $('#datagrid').datagrid({
            onDblClickCell: function (index, field, value) {
                var row = $('#datagrid').datagrid('getData').rows[index];

                if (row.ID != "") {
                    window.location.href = "/Order/DomesticKnot_Edit?ID=" + row.ID;
                }
            }
        });
</script>


