
<style type="text/css">
    #OrderFrom {
        margin:10px
    }
    #OrderFrom  table {
        width:100%
    }
    #OrderFrom  table tr {
        height:40px;
    }
    #OrderFrom  table tr td{
            width:25%;
    }
    #OrderFrom  table tr td label{
            width:80px;
            text-align:center
    }
     #OrderFrom table tr td .easyui-textbox{
            width:200px
    }
</style>


<div id="" class="easyui-panel" style="margin-bottom:20px;" title="订单主信息"
     data-options="collapsible:true">
    <form id="OrderFrom" method="post">
        <input  type="hidden" name="ID" />
        <table>
            <tr>
                <td>
                    <label for="name"> 平台编号:</label>
                    <input class="easyui-textbox" type="text" name="name"  disabled="disabled" />
                </td>
                <td>
                    <label for="name">业务编号:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <label for="name">关务编号:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">收货人:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 总件数:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">总重量:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <label for="name">总单号:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">分单号:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 合同/发票号:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">转关预录入号:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <label for="name">转关号:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">接单备注:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 报检接单日期:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <div>
                        快件:
                        <input class="" type="radio" name="email1" disabled="disabled" />
                        铺货:
                        <input class="" type="radio" name="email1" disabled="disabled"  />
                        <input style="margin-left:30px;" type="checkbox" name="" /> 通关单否
                    </div>
                </td>
                <td>
                    <label for="name">通关单号:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">作业单时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 制单备注:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">过机时间:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <label for="name">过机人:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">报关行:</label>
                    <input class="easyui-textbox" type="text" name="name"  />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 理单时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">理单人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton" >填充理单时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 理货资料时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">理货资料人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充货资料时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 理货资料时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">理货资料人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充货资料时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 报关时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">报关人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充报关时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 单证放行时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">单证放行人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充单证放行时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 查检起始时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">起始查检人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充查检起始时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name"> 查检完成时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">完成查检人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充查检完成时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">理货起始时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">理货起始人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充理货起始时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">理货完成时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">理货完成:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充理货完成时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">实物放行时间:</label>
                    <input class="easyui-textbox" type="text" name="name" disabled="disabled" />
                </td>
                <td>
                    <label for="name">实物放行人:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton">填充实物放行时间</a>
                </td>
            </tr>
            <tr>
                <td>
                    正常放行:
                    <input class="" type="radio" name="test" />
                    理货放行:
                    <input class="" type="radio" name="test" />
                    查检放行:
                    <input class="" type="radio" name="test" /> 
                </td>
                <td>
                    分批放行:
                    <input class="" type="checkbox" name="test1" />
                    申请放行:
                    <input class="" type="checkbox" name="test2" /> 
                </td>
                <td>
                    <label for="name">申报关区:</label>
                    <input class="easyui-textbox" type="text" name="email"  />
                </td>
                <td>
                    <label for="name">报关状态:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>   
            </tr>
            <tr>
                <td>
                    是否查检:
                    <input class="" type="checkbox" name="test2" /> 
                </td>
                <td>
                    <label for="name">查验次数:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <label for="name">查验备注:</label>
                    <input class="easyui-textbox" type="text" name="email" />
                </td>
            </tr>
            <tr>
                <td>
                    理货标识:
                    <input class="" type="checkbox" name="test2" />
                </td>
                <td>
                    <label for="name">理货次数:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <label for="name">扣货标识:</label>
                    <input class="" type="checkbox" name="test2" />
                </td>
                <td>
                    <label for="name">扣货时间:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    理货标识:
                    <input class="" type="checkbox" name="test2" />
                </td>
                <td>
                    <label for="name">理货次数:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <label for="name">扣货标识:</label>
                    <input class="" type="checkbox" name="test2" />
                </td>
                <td>
                    <label for="name">扣货时间:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td>
                    是否调档:
                    <input class="" type="checkbox" name="test2" />
                </td>
                <td>
                    <label for="name">调档次数:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
                <td>
                    <label for="name">扣货标识:</label>
                    <input class="" type="checkbox" name="test2" />
                </td>
                <td>
                    <label for="name">扣货时间:</label>
                    <input class="easyui-textbox" type="text" name="email" disabled="disabled" />
                </td>
            </tr>
        </table>
    </form>

    <div style="text-align:center;padding:5px 0">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">Submit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">Clear</a>
    </div>
</div>

<div id=""  class="easyui-panel" title="报关单信息"
     data-options="collapsible:true">

    <table id="dg" class="easyui-datagrid" title="数据" 
           data-options=" rownumbers:true,
                                   dataType : 'json',
                                   method:'get',
                                   toolbar:'#tb'">
        <thead >
            <tr>
                <th data-options="field: 'ck', checkbox: true"></th>
                <th data-options="field:'ID',sortable:true,width:50,align:'center'">ID</th>
                <th data-options="field:'BUSIUNITNAME',sortable:true,width:200,align:'center'">报关单号</th>
                <th data-options="field:'TOTALNO',width:100,align:'center'">报关张数</th>
                <th data-options="field:'DIVIDENO',width:100,align:'center'">贸易方式</th>
                <th data-options="field:'GOODSNUM',width:50,align:'center'">件数</th>
                <th data-options="field:'GOODSWEIGHT',width:50,align:'center'">总重量</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">报关备注</th>
                <th data-options="field:'LAWCONDITION',width:50,align:'center'">删单</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">改单次数</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">预知单号</th>
                <th data-options="field:'DECLSHEETNUM',width:50,align:'center'">金额</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">代垫标志</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">垫税类型</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">手册号</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">手册状态</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">出保时间</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">QP关联字段</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">海关通关状态</th>
                <th data-options="field:'DECLSHEETNUM',width:100,align:'center'">抓取标志</th>
            </tr>
        </thead>
    </table>

    <div id="tb" style="padding:2px 5px;">
        <div class="tb_but">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-plus',plain:true" onclick="append()">新增</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-plus',plain:true" onclick="Edit()">修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
        </div>
    </div>


</div>



    <script>

        function submitForm() {
            $('#OrderFrom ').form('submit', {
                url: "/Order/SaveData",
                onSubmit: function () {
                    if ($(this).form('enableValidation').form('validate')) {
                        return true;
                    } else {
                        return false;
                    }
                },
                success: function (data) {
                    debugger;
                    var data = eval('(' + data + ')');  // change the JSON string to javascript object
                    if (data.Success) {
                        $.messager.alert('成功', '保存成功');
                    }
                }
            });
        }

        debugger;
        //var str1 = "{\"name\":\"easyui\", \"email\":\"easyui@gmail.com\", \"subject\":\"Subject Title\", \"message\":\"Message Content\", \"language\":\"de\"}";
        var str1 = @Html.Raw(ViewData["str1"]);
        $('#OrderFrom').form('load', str1);

    </script>
