<script type="text/javascript">
    //1 查询条件 --日期
    var search_condition_date = [
        { code: 'CREATETIME', name: '下游返回日期', selected: true },
        { code: 'SENDTIME', name: '下游修改日期' }
    ];
    //2 查询条件  --单据号
    var search_code = [
        { code: 'INSPECTIONCODE', name: '报检单号', selected: true },
        { code: 'APPROVALCODE', name: '流水号' },
        { code: 'ORDERCODE', name: '业务单号'},
        { code: 'ONLYCODE', name: '唯一号' },
        { code: 'FWONO', name: 'FWO号' },
        { code: 'FOONO', name: '报关FOO' },
        { code: 'FOONOBJ', name: '报检FOO' }
    ];

    var SEARCH_XCBUSINAME = [
        { code: '空进', name: '空进' },
        { code: '空出', name: '空出' },
        { code: '海进', name: '海进' },
        { code: '海出', name: '海出' },
        { code: '陆进', name: '陆进' },
        { code: '陆出', name: '陆出' },
        { code: '特殊监管', name: '特殊监管' },
        { code: '叠加保税', name: '叠加保税' },
        { code: '国内', name: '国内' }
    ];

    //搜索列表
    function DeclarationSearch_form() {
        var o = {};
        var str = $('#searchform').serializeArray();        //form表单信息序列化
        $.each(str, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });                                     //form表单信息转换为json格式
        var info = JSON.stringify(o);           //json格式转换为字符串传值
        $('#InspectionDatagrid').datagrid({
            queryParams: { data: info },
        });
    }

    function formatISPRINT(value) {
        if (value == 0) {
            return "否";
        } else {
            return "是";
        }
    }

    $(function () {
        $('#InspectionDatagrid').datagrid({
            url: '/Order/LoadInspectionList',
            rownumbers: true,
            dataType: 'json',
            method: 'get',
            toolbar: '#tb',
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100, 300],
            pagination: true
        });
        $('#searchform #search_condition_date').combobox({
            data: search_condition_date,
            valueField: 'code',
            textField: 'name'
        });

        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });


        $('#searchform #XCBUSINAME').combobox({
            data: SEARCH_XCBUSINAME,
            valueField: 'code',
            textField: 'name'
        });

    })


    //数据导出
    function export_form() {
        var ids = "";
        var BUSITYPE = $("input[name='BUSITYPE']").val();
        var row = $('#InspectionDatagrid').datagrid('getSelected');
        if (row == null) {
            $.messager.alert("提示", "请选择数据！");
            return;
        }
        debugger;
        $(".datagrid-row-selected input[name='ID']").each(function () {
            ids += this.value + ",";
        });
        ids = ids.substring(0, ids.length - 1);
        var host = window.location.host;
        $.ajax({
            url: '/Order/DataExportOut',                          // 跳转到 action
            data: { "ids": ids, "BUSITYPE": BUSITYPE },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                window.open("http://" + host + data.path);
            },
        });
    }

</script>
<div class="ibox-content">
    <div class="table-responsive">
        <table id="InspectionDatagrid" class="easyui-datagrid" title="报检单列表" style="height:auto;min-height:500px;max-height:800px"
               data-options="queryParams:{}">
            <thead>
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'CODE',width:100">业务单号</th>
                    <th data-options="field:'FWONO',width:180">FWO号</th>
                    <th data-options="field:'XCBUSINAME',width:100">业务类型</th>
                    <th data-options="field:'INSPECTIONCODE',width:150">报检单号</th>
                    <th data-options="field:'APPROVALCODE',width:150">流水单号</th>
                    <th data-options="field:'CLEARANCECODE',width:130,">通关单号</th>
                    <th data-options="field:'INSPSTATUS',width:130,">国检状态</th>
                    <th data-options="field:'SHEETNUM',width:130,">报检单张数</th>
                    <th data-options="field:'LAWFLAG',width:130,">是否法检</th>
                    <th data-options="field:'ISNEEDCLEARANCE',width:130,">是否需通关单</th>
                    <th data-options="field:'COMMODITYNUM',width:130,">品名个数</th>
                    <th data-options="field:'ISDEL',width:100,formatter:formatISPRINT">是否作废</th>
                    <th data-options="field:'CREATETIME',width:130,">下游返回日期</th>
                    <th data-options="field:'UPDATETIME',width:130,">下游修改日期</th>
                    <th data-options="field:'IFSHANDAN',width:130,">是否删单</th>
                    <th data-options="field:'SHANDANTOTAL',width:130,">删单次数</th>
                    <th data-options="field:'SHANDANDESC',width:130,">删单备注</th>
                    <th data-options="field:'IFGAIDAN',width:130,">是否改单</th>
                    <th data-options="field:'GAIDANTOTAL',width:130,">改单次数</th>
                    <th data-options="field:'GAIDANDESC',width:130,">改单备注</th>
                    <th data-options="field:'IFXUNZHENG',width:130,">是否熏蒸</th>
                    <th data-options="field:'XUNZHENGDESC',width:130,">熏蒸备注</th>
                    <th data-options="field:'IFCHAYAN',width:130,">是否查验</th>
                    <th data-options="field:'CHAYANTOTAL',width:130,">查验次数</th>
                    <th data-options="field:'CHAYANDESC',width:130,">查验备注</th>
                    @*<th data-options="field:'IFYIJIAO',width:130,">是否移交</th>
                    <th data-options="field:'IFLIHUO',width:130,">是否理货</th>
                    <th data-options="field:'LIHUOTOTAL',width:130,">理货次数</th>
                    <th data-options="field:'LIHUODESC',width:130,">理货备注</th>
                    <th data-options="field:'CHAYANZHILINGXIAFATIME',width:130,">查验指令下发时间</th>
                    <th data-options="field:'IFTIAODANG',width:130,">是否调档</th>
                    <th data-options="field:'TIAODANGTOTAL',width:130,">调档次数</th>
                    <th data-options="field:'IFKOUHUO',width:130,">是否扣货</th>
                    <th data-options="field:'KOUHUOTIME',width:130,">扣货时间</th>*@

                    <th data-options="field:'FOONO',width:180">报关FOO</th>
                    <th data-options="field:'FOONOBJ',width:180">报检FOO</th>
                    <th data-options="field:'ONLYCODE',width:280">唯一号</th>
                </tr>
            </thead>
        </table>
        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <input type="hidden" name="BUSITYPE" value="Inspection" />
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="ordercode_value" placeholder="单据号" />
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" editable="false" id="XCBUSINAME" panelheight="auto" name="XCBUSINAME"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value placeholderclass" editable="false" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value placeholderclass" editable="false" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    @*<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="export_form()"><i class="fa fa-share-square-o" aria-hidden="true"></i> 导出</a>*@
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="DeclarationSearch_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-retweet" aria-hidden="true"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
</div>
