<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" style="height:auto;min-height:500px;max-height:800px" title="陆运出口列表"
               data-options=" rownumbers:true,
                                   url: '/Order/GetData',
                                   queryParams:{BUSITYPE:30},
                                   dataType : 'json',
                                   method:'get',
                                   toolbar:'#tb',
                                    pageSize:20,
                                   pagination:true ">

            <thead data-options="frozen:true">
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'BUSIUNITNAME',sortable:true,width:200,align:'center'">收货人</th>
                    <th data-options="field:'TURNPRENO',width:100,align:'center'">转关转录单号</th>
                    <th data-options="field:'test',width:100,align:'center'">万达号</th>
                    <th data-options="field:'GOODSNUM',width:50,align:'center'">总件数</th>
                    <th data-options="field:'GOODSWEIGHT',width:50,align:'center'">总重量</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'DECLSHEETNUM',width:70,align:'center'">报关单张数</th>
                    <th data-options="field:'LAWCONDITION',width:70,align:'center'">是否法检</th>
                    <th data-options="field:'YWBH',width:100,align:'center'">业务编号</th>
                    <th data-options="field:'ASSOCIATEPEDECLNO',width:180,align:'center'">报关单号</th>
                    <th data-options="field:'LIDANTIME',width:100,align:'center'">理单时间</th>
                    <th data-options="field:'BAOGUANTIME',width:100,align:'center'">报关时间</th>
                    <th data-options="field:'DANZHENGFANGXINGTIME',width:100,align:'center'">单证放行时间</th>
                    <th data-options="field:'ASSOCIATETRADEWAY',width:150,align:'center'">贸易方式</th>
                    <th data-options="field:'test',width:120,align:'center'">报关备注</th>
                    @*<th data-options="field:'CLEARANCENO',width:180,align:'center'">通关单号</th>*@
                    <th data-options="field:'LIDANUSERNAME',width:90,align:'center'">理单人</th>
                    <th data-options="field:'test',width:100,align:'center'">单证齐全时间</th>
                    <th data-options="field:'SHIWUFANGXINGTIME',width:100,align:'center'">实物放行时间</th>
                    <th data-options="field:'STATUS',width:100,align:'center'">实物放行状态</th>
                    <th data-options="field:'CONTRACTNO',width:100,align:'center'">合同/发票号</th>
                    <th data-options="field:'test',width:100,align:'center'">接单备注</th>
                    <th data-options="field:'ZUOYEDANTIME',width:100,align:'center'">作业单时间</th>
                    <th data-options="field:'DANZHENGFANGXINGUSERNAME',width:100,align:'center'">单证放行人</th>
                    <th data-options="field:'SHIWUFANGXINGUSERNAME',width:100,align:'center'">实物放行人</th>
                    <th data-options="field:'test',width:100,align:'center'">关务状态</th>
                    <th data-options="field:'PASSMODE',width:70,align:'center'">分批放行</th>
                    <th data-options="field:'PASSMODE',width:70,align:'center'">申请放行</th>
                    <th data-options="field:'test',width:100,align:'center'">OPS接单备注</th>
                    <th data-options="field:'test',width:100,align:'center'">OPS接单时间</th>
                    <th data-options="field:'CUSTOMDISTRICTCODE',width:100,align:'center'">申报关区</th>
                    <th data-options="field:'test',width:100,align:'center'">海关通关状态</th>
                    <th data-options="field:'test',width:100,align:'center'">签收号</th>
                    <th data-options="field:'test',width:100,align:'center'">签收人</th>
                    <th data-options="field:'test',width:100,align:'center'">签收日期</th>
                </tr>
            </thead>
        </table>

        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value" type="text" name="ordercode_value" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_operator" panelheight="auto" name="oprname"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value" type="text" name="oprname_value" />
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务对象</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="business_object" panelheight="auto" name="business_object"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>

                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>海关通关状态</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox value" id="customs_state" style="width:130px" panelheight="auto" name="customs_state"></select>
                            </td>

                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>通关单标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="is_clearance" panelheight="auto" name="is_clearance"></select>
                            </td>
                        </tr>


                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    @*<a class="btn btn-primary btn-xs" href="javascript:void(0)"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)"><i class="icon-refresh"></i> 重置</a>*@
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="icon-refresh"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        //双击事件
        $('#datagrid').datagrid({
            onDblClickCell: function (index, field, value) {
                var row = $('#datagrid').datagrid('getData').rows[index];
                if (row.ID != "") {
                    window.location.href = "/Order/LandOut_Edit?ID=" + row.ID;
                }
            }
        });
</script>