<script src="~/js/datagrid-detailview.js"></script>
<script type="text/javascript">
    //1 查询条件 --日期
    var search_condition_date = [
        { code: 'guanwujieshou', name: '提交日期', selected: true },
        { code: 'guanwujieshou', name: '处理日期' }
    ];
    //2 查询条件  --单据号
    var search_code = [
        {
            code: 'jiedan', name: '报关单号', selected: true
        },
        { code: 'koufangxing', name: '报检单号' },
        { code: 'lihuo', name: '总单号' },
        { code: 'lihuo', name: '分单号' },
        { code: 'shiwufangxing', name: '一程提运单号' },
        { code: 'chuguanfeng', name: '二程提运单号' },
        { code: 'jihuabaoguan', name: '万达号' },
        { code: 'koufangxing', name: '载货清单号' }
    ];
    //3 查询条件 --
    var BUSITYPE = [
        { code: 'guanwujieshou', name: '空运进口' },
        { code: 'guanwujieshou', name: '空运出口' },
        { code: 'guanwujieshou', name: '海运进口' },
        { code: 'guanwujieshou', name: '海运出口' },
        { code: 'guanwujieshou', name: '陆运进口' },
        { code: 'guanwujieshou', name: '陆运出口' },
        { code: 'guanwujieshou', name: '国内结转' },
        { code: 'baoruhaiguan', name: '叠加保税' },
        { code: 'chayanzhilingxiafa', name: '特殊监管区' }
    ];
    var Abnormaltype = [
        { code: 'baoruhaiguan', name: '一级异常' },
        { code: 'chayanzhilingxiafa', name: '二级异常' }
    ];
    $(function () {
        $('#searchform #BUSITYPE').combobox({
            data: BUSITYPE,
            valueField: 'code',
            textField: 'name'
        });

        $('#searchform #search_condition_date').combobox({
            data: search_condition_date,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });

        $('#searchform #Abnormaltype').combobox({
            data: Abnormaltype,
            valueField: 'code',
            textField: 'name'
        });
        //展开异常登记列表
        $('#Abnormallogdatagrid').datagrid({
            url: '/Order/GetData',
            rownumbers: true,
            dataType: 'json',
            method: 'get',
            toolbar: '#tb',
            pageSize: 20,
            pagination: true,
            remoteSort: false,
            nowrap: false,
            //fitColumns: true,     //限制宽度
            view: detailview,
            detailFormatter: function (rowIndex, rowData) {
                var ID = rowData.ID;
                return "<div id='ddv" + rowIndex + "'></div>";
            },
            onExpandRow: function (rowIndex,rowData) {//列表左侧加号点击事件
                loadDetailView(rowData.ID,rowIndex);
                $('#ddv').panel({
                    height: 80,
                    border: false,
                    cache: false,
                    onLoad: function () {
                        $('#Abnormallogdatagrid').datagrid('fixDetailRowHeight', rowIndex);
                    }
                });
                $('#Abnormallogdatagrid').datagrid('fixDetailRowHeight', rowIndex);//加载之后固定高度
            }
        });
    })
    function loadDetailView(id,index) {
        var detailHtml = "";
        $.ajax({
            type: "post",
            url: "/Abnormalmodule/AbnormallogEditDetail?ID=" + id,
            data: { ID: id },
            dataType: "json",
            success: function (data) {
                var height = data.length * 25+27;
                if (data.length == 0) {
                    $('#ddv' + index).prev('thead').css('display', 'none');
                    $('#ddv' + index).html('暂无异常登记！');
                } else {
                    $.each(data, function (i, list) {
                        var index = i + 1;
                        var SUBMITUSERNAME = list.SUBMITUSERNAME == null ? "" : list.SUBMITUSERNAME;
                        var SUBMITTIME = list.SUBMITTIME == null ? "" : list.SUBMITTIME;
                        var FIRSTLEVELTYPE = list.FIRSTLEVELTYPE == "请选择" ? "" : list.FIRSTLEVELTYPE;
                        var SECONDLEVELTYPE = list.SECONDLEVELTYPE == "请选择" ? "" : list.SECONDLEVELTYPE;
                        var CHARGEUSERNAME = list.CHARGEUSERNAME == null ? "" : list.CHARGEUSERNAME;
                        var CONTACTMETHOD = list.CONTACTMETHOD == null ? "" : list.CONTACTMETHOD;
                        var EXCEPTIONINFO = list.EXCEPTIONINFO == null ? "" : list.EXCEPTIONINFO;
                        var RESOLVEDEPTNAME = list.RESOLVEDEPTNAME == null ? "" : list.RESOLVEDEPTNAME;
                        var RESOLVEUSERNAME = list.RESOLVEUSERNAME == null ? "" : list.RESOLVEUSERNAME;
                        var RESOLVETIME = list.RESOLVETIME == null ? "" : list.RESOLVETIME;
                        var RESOLVERESULT = list.RESOLVERESULT == "请选择" ? "" : list.RESOLVERESULT;
                        var RESOLVEREMARK = list.RESOLVEREMARK == null ? "" : list.RESOLVEREMARK;
                        detailHtml += "<table><thead><tr style='background-color: #F1F1F1;'><td></td><td>异常提交人</td><td>提交时间</td><td>一级异常</td><td>二级异常</td><td>相关责任人</td><td>联系方式</td><td>异常备注</td><td>异常回复部门</td><td>异常处理人</td><td>异常处理时间</td><td>异常处理结果</td><td>异常处理备注</td></tr></thead><tbody><tr id='" + list.ID + "_" + list.FWONO + "' class='detailitem' ondblclick=AbnormallogEdit(" + list.ID + "," + list.FWONO + ")><td style='border-left: 1px dotted #DDDDDD;'>" + index + "</td><td>" + SUBMITUSERNAME + "</td><td>" + SUBMITTIME + "</td><td>" + FIRSTLEVELTYPE + "</td><td>" + SECONDLEVELTYPE + "</td><td>" + CHARGEUSERNAME + "</td><td>" + CONTACTMETHOD + "</td><td>" + EXCEPTIONINFO + "</td><td>" + RESOLVEDEPTNAME + "</td><td>" + RESOLVEUSERNAME + "</td><td>" + RESOLVETIME + "</td><td>" + RESOLVERESULT + "</td><td>" + RESOLVEREMARK + "</td></tr></tbody></table>";
                    });
                    $('#ddv' + index).html(detailHtml);
                    $('#datagrid-row-r2-1-' + index).next('tr').css('height', +height + 'px');
                }
            },
            error: function (err) {
                
            }
        });
    }
</script>
<style>
    .datagrid-row-detail td {
        padding: 0 5px;
    }
    .datagrid-row-detail tr {
        height: 25px;
    }
    .datagrid-row-detail thead td {
        color: #777;
    }
</style>
<div class="ibox-content">
    <div class="table-responsive">
        <table id="Abnormallogdatagrid" class="easyui-datagrid" title="异常登记" style="height:auto;min-height:500px;max-height:800px"
               data-options="queryParams:{}">
            <thead>
                <tr>
                    <th data-options="field: 'ck',width:80, checkbox: true"></th>
                    <th data-options="field:'CODE',width:150,sortable:true">业务编号</th>
                    <th data-options="field:'YCNUM',width:70,sortable:true">异常数量</th>
                    <th data-options="field:'CLNUM',width:70,sortable:true">处理数量</th>
                    <th data-options="field:'text',width:70,sortable:true">报检编号</th>
                    <th data-options="field:'CLEARANCENO',width:70,sortable:true">通关单号</th>
                    <th data-options="field:'text',width:50,sortable:true">报检单号</th>
                    <th data-options="field:'text',width:50,sortable:true">业务种类</th>
                    <th data-options="field:'CUSNO',width:70,sortable:true">收货人</th>
                    <th data-options="field:'ASSOCIATEPEDECLNO',width:70,sortable:true">报关单号</th>
                    <th data-options="field:'text',width:70,sortable:true">QP标志</th>
                    <th data-options="field:'INOUTTYPE',width:80,sortable:true">进出口类别</th>
                    <th data-options="field:'text',width:50,sortable:true">货物流向</th>
                    <th data-options="field:'GOODSNUM',width:70,sortable:true">总件数</th>
                    <th data-options="field:'GOODSWEIGHT',width:70,sortable:true">总重量</th>
                    <th data-options="field:'ASSOCIATETRADEWAY',width:70,sortable:true">贸易方式</th>
                    <th data-options="field:'text',width:70,sortable:true">法检标志</th>
                    <th data-options="field:'CLEARANCENO',width:70,sortable:true">通关单号</th>
                    <th data-options="field:'INSPSTATUS',width:70,sortable:true">报检状态</th>
                    <th data-options="field:'DECLSTATUS',width:70,sortable:true">报关状态</th>
                    <th data-options="field:'ISINVALID',width:70,sortable:true">作废标志</th>
                    <th data-options="field:'text',width:50,sortable:true">作废时间</th>
                    <th data-options="field:'text',width:50,sortable:true">OPS接单时间</th>
                    <th data-options="field:'text',width:50,sortable:true">OPS接单人</th>
                    <th data-options="field:'text',width:50,sortable:true">OPS接单备注</th>
                    <th data-options="field:'text',width:50,sortable:true">报检接单时间</th>
                    <th data-options="field:'text',width:50,sortable:true">报检接单人</th>
                    <th data-options="field:'MOACCEPTTIME',width:70,sortable:true">制单时间</th>
                    <th data-options="field:'SHIWUFANGXINGTIME',width:150,sortable:true">放行时间</th>
                    <th data-options="field:'text',width:70,sortable:true">报检时间</th>
                    <th data-options="field:'text',width:70,sortable:true">输机时间</th>
                    <th data-options="field:'MOACCEPTUSERNAME',width:70,sortable:true">制单人</th>
                    <th data-options="field:'SHIWUFANGXINGUSERNAME',width:70,sortable:true">放行人</th>
                    <th data-options="field:'text',width:70,sortable:true">报检人</th>
                    <th data-options="field:'text',width:70,sortable:true">输机人</th>
                    <th data-options="field:'CONTRACTNO',width:80,sortable:true">合同发票号</th>
                    <th data-options="field:'text',width:70,sortable:true">异常登记</th>
                    <th data-options="field:'text',width:70,sortable:true">异常回复</th>
                </tr>
            </thead>
        </table>
        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="BUSITYPE" panelheight="auto" name="BUSITYPE"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value" type="text" name="ordercode_value" />
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>异常类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" id="Abnormaltype" panelheight="auto" name=""></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>已完成标志</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value is_check" panelheight="auto" name="LAWCONDITION"></select>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="Add_Abnormal()"><i class="icon-plus"></i> 添加异常</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-share-square-o" aria-hidden="true"></i> 导出</a>
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="icon-refresh"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="AbnormallogEdit" style="display:none"></div>
    <script type="text/javascript">
        //add syy 20160930
        function AbnormallogEdit(id, ORDER_ID) {
                $('#AbnormallogEdit').dialog({
                    title: '异常登记',
                    width: 800,
                    height: 720,
                    modal: true,
                    href: '/Abnormalmodule/AbnormallogEdit?ID=' + id + '&ORDER_ID=' + ORDER_ID,
                });
        }
        function Add_Abnormal() {
            var row = $('#Abnormallogdatagrid').datagrid('getSelected');
            if (row == null) {
                $.messager.alert("提示", "请选择数据！");
                return;
            }
            $('#AbnormallogEdit').dialog({
                title: '异常登记',
                width: 800,
                height: 720,
                modal: true,
                href: '/Abnormalmodule/AbnormallogEdit?ORDER_ID=' + row.ID,
            });
        }
    </script>
