<div class="container">
    <div class="carousel slide" id="carousel-595514" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-595514"></li>
            <li data-slide-to="1" data-target="#carousel-595514"></li>
            <li data-slide-to="2" data-target="#carousel-595514"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="/Images/1473762432571.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/Images/1473762741528.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/Images/1473762489802.jpg" alt="" />
            </div>
        </div>
    </div>
</div>