<script type="text/javascript">
    // 查询条件  --单据号
    var search_code = [
        { code: 'FWONO', name: 'FWO订单号', selected: true },
        { code: 'FOONO', name: 'FOO指令服务号' }
    ];
    // 查询条件  --状态
    var businessin_createname = [
        { name: '管理员' },
        { name: '游客' }
    ];
    $(function () {
        $("#datagrid").datagrid({
            onDblClickRow: function (rowIndex, rowData) {
                var host = window.location.host;
                if (rowData) {
                    window.open("http://" + host + "/Common/Attachment_Edit?FWONO=" + rowData.FWONO + "&FOONO=" + rowData.FOONO);
                }
            } 
        });
        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #businessin_createname').combobox({
            data: businessin_createname,
            valueField: 'name',
            textField: 'name'
        });
    })
</script>
<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" title="随附文件" style="height:auto;min-height:500px;max-height:800px"
               data-options="url: '/Common/LoadAttachmentList',
                            rownumbers: true,
                            dataType: 'json',
                            method: 'get',
                            toolbar: '#tb',
                            pageSize: 20,
                            pageList: [20, 40, 60, 80, 100, 300],
                            pagination: true,">
            <thead>
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'FWONO',width:200,sortable:true">FWO订单号</th>
                    <th data-options="field:'FOONO',width:200,sortable:true">FOO指令服务号</th>
                    <th data-options="field:'FILENAME',width:440,sortable:true">文件名称</th>
                    <th data-options="field:'CREATENAME',width:150,sortable:true">上传人</th>
                    <th data-options="field:'CREATETIME',width:150,sortable:true">上传时间</th>
                </tr>
            </thead>
        </table>
        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="ordercode_value" placeholder="单据号" />
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>上传人</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" editable="false" id="businessin_createname" panelheight="auto" name="businessin_createname"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>上传时间</option>
                                </select>
                            </td>
                            <td>
                                <input class="easyui-datebox value  placeholderclass" editable="false" name="starttime" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value  placeholderclass" editable="false" name="stoptime" placeholder="结束时间">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-retweet" aria-hidden="true"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end ibox-content -->
</div>