@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>随附文件</title>
    <link href="/js/Extjs42/resources/css/ext-all-gray.css" rel="stylesheet" type="text/css" />
    <script src="/js/Extjs42/bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap32/css/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/js/jquery-1.8.2.min.js"></script>*@
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/js/upload/plupload.full.min.js"></script>
    <style type="text/css">
        .fl {
            float: left;
        }

        .x-item-selected {
            border: 1px solid;
        }

        .thumb-wrap {
            color: #57638b;
        }
    </style>
    <script type="text/javascript">
        var file_store;
        Ext.onReady(function () { 
            file_store = Ext.create('Ext.data.JsonStore', {
                fields: ['ID', 'FILENAME', 'FILEPATH', 'CREATETIME', 'FILESIZE', 'CREATENAME', 'ORDERCODE'],
                proxy: {
                    type: 'ajax',
                    url: '/Common/load_file?FWONO=' + Ext.get('FWONO').getValue() + '&FOONO=' + Ext.get('FOONO').getValue() + '&ORDERCODE=' + Ext.get('ORDERCODE').getValue(),
                    reader: {
                        root: 'rows',
                        type: 'json'
                    }
                },
                autoLoad: true
            })
            var tmp = new Ext.XTemplate(
                '<tpl for=".">',
                '<div class="panel panel-default thumb-wrap fl" style="margin-top:5px;margin-left:5px;width:240px">',
                '<div class="panel-heading" style="padding-left:5px;padding-right:5px">{[values.FILENAME.substr(0,23)]}<div style="float:right"><span class="glyphicon glyphicon-paperclip"></span></div></div>',
                '<div class="panel-body" style="padding-left:5px;">{FILETYPENAME}|',
                '<tpl>{[values.FILESIZE/1024 > 1024?Math.round(values.FILESIZE/(1024*1024))+"M":Math.round(values.FILESIZE/1024)+"K"]}</tpl>',
                '|{[values.CREATETIME]}</div></div>',
                '</tpl>'
                )
            var fileview = Ext.create('Ext.view.View', {
                id: 'w_fileview',
                store: file_store,
                tpl: tmp,
                itemSelector: 'div.thumb-wrap',
                multiSelect: true
            })
            var panel = Ext.create('Ext.panel.Panel', {
                title: '随附文件',
                renderTo: "div_panel",
                // border: 0,
                //width: '62%',
                minHeight: 200,
                items: [fileview]
            })
            upload_ini();
        })

        function upload_ini() {           
            uploader = new plupload.Uploader({
                runtimes: 'html5,flash,silverlight,html4',
                browse_button: 'pickfiles', // you can pass an id...
                url: '/Common/UploadFile?FWONO=' + Ext.get('FWONO').getValue() + "&FOONO=" + Ext.get('FOONO').getValue() + "&ORDERCODE=" + Ext.get('ORDERCODE').getValue(),
                flash_swf_url: '/js/upload/Moxie.swf',
                silverlight_xap_url: '/js/upload/Moxie.xap',
                unique_names: true,
                filters: {
                    max_file_size: '500mb',
                    mime_types: [
                        //{ title: "Image files", extensions: "*" },
                        //{ title: "Zip files", extensions: "zip,rar" }
                    { title: "Pdf files", extensions: "pdf" }
                    ]
                }
            });
            uploader.init();
            uploader.bind('FilesAdded', function (up, files) {
                uploader.start();
            });
            uploader.bind('FileUploaded', function (up, file) {
                file_store.load();

            });
            uploader.bind('Error', function (up, file) {
                if (file.message == "File size error.") {
                    Ext.MessageBox.alert("错误", "文件太大，无法上传！");
                }
            });
        }

        function deletefile() {
            var w_fileview = Ext.getCmp("w_fileview");
            var recs = w_fileview.getSelectionModel().getSelection();
            if (recs.length < 1) {
                Ext.MessageBox.alert("提示框", "请选择删除文件！");
                return false;
            }
            Ext.MessageBox.confirm("提示框", "确认删除文件吗？", function (btn) {
                if (btn == "yes") {
                    var i = 0;
                    var ids = "";
                    for (i; i < recs.length; i++) {
                        if (i + 1 == recs.length) {
                            ids += recs[i].get("ID");
                        } else {
                            ids += recs[i].get("ID") + ",";
                        }
                    }
                    Ext.Ajax.request({
                        url: "/Common/delete_file",
                        params: { ids: ids },
                        success: function (response, opts) {
                            var result = Ext.decode(response.responseText); 
                            if (result.success) {
                                Ext.Msg.alert("提示", "删除成功!", function () {
                                    file_store.load();
                                })
                            }
                            else {
                                Ext.Msg.alert("提示", "删除失败!");
                            }
                        }
                    });
                }
            });
        }

        //打开文件
        function open_file() {
            var w_fileview = Ext.getCmp("w_fileview");
            var recs = w_fileview.getSelectionModel().getSelection();

            if (recs.length < 1) {
                Ext.MessageBox.alert("提示框", "请选择文件！");
                return false;
            }
            var win = Ext.create("Ext.window.Window", {
                title: "文件预览",
                width: 800,
                height: 600,
                layout: "fit",
                modal: true,
                closeAction: "destroy",
                items: [{
                    html: "<div id='fileViewDiv' style='height: 100%;width: 100%;'></div>"
                }]
            });
            win.show();
            document.getElementById('fileViewDiv').innerHTML = '<embed id="pdf" width="100%" height="100%" src="http://172.20.70.19:8011\/' + recs[0].get("FILEPATH") + '"></embed>';
        }
    </script>
</head>
<body>
    <div class="container" style="width:540px">
        <input type="hidden" value="@ViewData["Path"]" id="Path">

        @if (ViewData["is_passed"] == "1")
        {
            <div class="input-group" style="width:100%;margin:10px 0px">
                <span class="input-group-addon" style="width:120px">FWO订单号</span>
                <input type="text" class="form-control" value="@ViewData["FWONO"]" id="FWONO" readonly="readonly">
            </div>
            <div class="input-group" style="width: 100%; margin: 10px 0px">
                <span class="input-group-addon" style="width:120px">FOO指令服务号</span>
                <input type="text" class="form-control" value="@ViewData["FOONO"]" id="FOONO" readonly="readonly">
            </div>
            <div class="input-group" style="width: 100%; margin: 10px 0px">
                <span class="input-group-addon" style="width:120px">业务单号</span>
                <input type="text" class="form-control" value="@ViewData["ORDERCODE"]" id="ORDERCODE" readonly="readonly">
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm" id="pickfiles"><i class="fa fa-upload"></i>&nbsp;上传文件</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="open_file()"><i class="fa fa-exchange fa-fw"></i>&nbsp;浏览文件</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="deletefile()"><i class="fa fa-trash-o"></i>&nbsp;删除文件</button>
            </div>
            <div id="div_panel">
            </div>
        }
        else
        {
            <h1>参数异常</h1>
        }
    </div>
</body>
</html>
