<script type="text/javascript">
    // 查询条件  --单据号
    var search_code = [
        {
            code: 'ORDERCODE', name: '订单号', selected: true
        }
    ];
    // 查询条件  --类型
    var businessin_type = [
        { code: 'declare', name: '报关' },
        { code: 'inspection', name: '报检' }
    ];
    $(function () {
        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #businessin_type').combobox({
            data: businessin_type,
            valueField: 'code',
            textField: 'name'
        });
    })
    function formatTYPE(val, row) {
        switch (val) {
            case "declare":
                return "报关";
                break;
            case "inspection":
                return "报检";
                break;
        }
    }
    function formatSYNCSTATUS(val, row) {
        switch (val) {
            case "success":
                return "成功";
                break;
            default:
                return "失败";
        }
    }
</script>
<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" title="返回状态" style="height:auto;min-height:500px;max-height:800px"
               data-options="url: '/Common/LoadBackMsgList',
                            rownumbers: true,
                            dataType: 'json',
                            method: 'get',
                            toolbar: '#tb',
                            pageSize: 20,
                            pageList: [20, 40, 60, 80, 100, 300],
                            pagination: true,">
            <thead>
                <tr>
                    <th data-options="field: 'ID',width:80,checkbox:true"></th>
                    <th data-options="field:'ORDERCODE',width:210,sortable:true">订单号</th>
                    <th data-options="field:'STATUSNAME',width:200,sortable:true">事件名称</th>
                    <th data-options="field:'TYPE',width:100,sortable:true,formatter:formatTYPE">类型</th>
                    <th data-options="field:'STATUSVALUE',width:150,sortable:true">返回值</th>
                    <th data-options="field:'SYNCSTATUS',width:140,sortable:true,formatter:formatSYNCSTATUS">状态</th>
                    <th data-options="field:'CREATETIME',width:150,sortable:true">创建时间</th>
                </tr>
            </thead>
        </table>
        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <input type="hidden" name="BUSITYPE" value="SyncMsg" />
                    <table>
                        <tr>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="ordercode_value" placeholder="单据号" />
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" editable="false" id="businessin_type" panelheight="auto" name="businessin_type"></select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>返回时间</option>
                                </select>
                            </td>
                            <td>
                                <input class="easyui-datebox value  placeholderclass" editable="false" name="starttime" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value  placeholderclass" editable="false" name="stoptime" placeholder="结束时间">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    @*<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="export_form()"><i class="fa fa-share-square-o" aria-hidden="true"></i> 导出</a>*@
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-retweet" aria-hidden="true"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end ibox-content -->
</div>