<script type="text/javascript">
    //1 查询条件 --日期
    var search_condition_date = [
        { code: 'guanwujieshou', name: '申请开始时间', selected: true }
    ];
    //2 查询条件  --单据号
    var search_code = [
        {
            code: 'jiedan', name: '分单号', selected: true
        },
        { code: 'lihuo', name: '批次号' },
        { code: 'jihuabaoguan', name: '总单号' },
        { code: 'lihuoziliaoqiquan', name: '车号' },
        { code: 'baoguan', name: '卡号' }
    ];
    $(function () {
        loadListGrid("");
        $('#searchform #search_condition_date').combobox({
            data: search_condition_date,
            valueField: 'code',
            textField: 'name'
        });
        $('#searchform #search_code').combobox({
            data: search_code,
            valueField: 'code',
            textField: 'name'
        });
    })
</script>
<div class="ibox-content">
    <div class="table-responsive">
        <table id="datagrid" class="easyui-datagrid" title="车卡关联" style="height:auto;min-height:500px;max-height:800px"
               data-options="queryParams:{BUSITYPE:11}">
            <thead>
                <tr>
                    <th data-options="field:'YWBH',sortable:true">车号</th>
                    <th data-options="field:'TURNPRENO',sortable:true">卡号</th>
                    <th data-options="field:'CONTAINERNO',sortable:true">进/出口类型</th>
                    <th data-options="field:'FIRSTLADINGBILLNO',sortable:true">核放单号</th>
                    <th data-options="field:'SECONDLADINGBILLNO',sortable:true">核放单关联状态</th>
                    <th data-options="field:'FWONO',sortable:true">到货状态</th>
                    <th data-options="field:'FOCUSTOMSNO',sortable:true">理货状态</th>
                    <th data-options="field:'CUSTOMDISTRICTCODE',sortable:true">核放单状态</th>
                </tr>
            </thead>
        </table>
        <div id="tb">
            <div class="tb_search">
                <form id="searchform" method="post">
                    <table>
                        <tr>


                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>业务类型</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" panelheight="auto">
                                    <option></option>
                                    <option>分送集报</option>
                                    <option>报关业务</option>
                                    <option>其他业务</option>
                                </select>
                            </td>


                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_code" panelheight="auto" name="ordercode"></select>
                            </td>
                            <td>
                                <input class="easyui-textbox value placeholderclass" type="text" name="ordercode_value" placeholder="单据号" />
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" id="search_condition_date" panelheight="auto" name="orderdate"></select>
                            </td>
                            <td>
                                <input class="easyui-datebox value placeholderclass" name="startdate" placeholder="开始时间">
                            </td>
                            <td>
                                <input class="easyui-datebox value placeholderclass" name="stopdate" placeholder="结束时间">
                            </td>
                        </tr>


                        @*<tr>
                            <td class="search_margin">
                                <select class="easyui-combobox " panelheight="auto">
                                    <option>核放单状态</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" panelheight="auto">
                                    <option></option>
                                    <option>放行</option>
                                    <option>实货放行</option>
                                </select>
                            </td>
                            <td class="search_margin">
                                <select class="easyui-combobox" panelheight="auto">
                                    <option>理货状态</option>
                                </select>
                            </td>
                            <td>
                                <select class="easyui-combobox combobox_width value" panelheight="auto">
                                    <option>理货正常</option>
                                </select>
                            </td>
                        </tr>*@
        
                    </table>
                </form>
            </div>
            <div class="tb_but">
                <div class="but_left">
                    @*<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-refresh"></i> 批量更新</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-share-square-o" aria-hidden="true"></i> 导出</a>*@
                </div>
                <div class="but_right">
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="search_form()"><i class="icon-search"></i> 搜索</a>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="reset_form()"><i class="fa fa-retweet" aria-hidden="true"></i> 重置</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end ibox-content -->
</div>
